.absolute-float-popup,
.absolute-bottom-popup {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;

    .abs-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 450px;

        &.abs-full {
            cursor: pointer;

            .abs-action {
                width: calc(6em + 20px);
            }
        }

        .abs-icon {
            margin: var(--main-gap);
        }

        .abs-action {
            cursor: pointer;

            >.abs-full,
            &.abs-full {
                width: calc(6em + 20px);
            }

            >* {
                width: 2em;
                text-align: center;

                +* {
                    margin-left: 10px;
                }
            }
        }
    }
}

.absolute-float-popup {
    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .absolute-popup-content {
        position: absolute;
        padding: 10px 10px;
        background: var(--color--1);
        box-shadow: 0 0 40px var(--color--2);
        border-radius: 10px;
        top: -1000px;
        left: -1000px;

        .abs-item {
            cursor: pointer;
        }
    }
}

.absolute-bottom-popup {
    &.open {
        opacity: 1;
        pointer-events: all;

        >.container {
            top: 0;
        }
    }


    >.container {
        --padding-top: 70vh;

        position: absolute;
        top: calc(100vh - var(--padding-top));
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: 100vh;
        overflow-x: hidden;
        transition: top .5s;

        &.not-touch-device {
            padding-top: var(--padding-top);
        }

        &.scrollable-content {
            overflow-y: auto;

            .badge {
                width: 20px;
                height: 3px;
                border-radius: 3px;
                background-color: var(--text-color);
            }
        }

        >.content {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100vw;
            min-height: calc(100vh - var(--padding-top));
            background-color: var(--color--1);
            overflow: hidden;
            padding: 30px;
            z-index: 150;

            .abs-item {
                padding: 10px 0;
            }
        }
    }
}