.com-container {
    --margin-left-small: .5em;
    --margin-left-medium: 1em;
    --margin-left-large: 1.5em;

    --font-size-small: .5em;
    --font-size-medium: .7em;
    --font-size-normal: 1em;

    --text-decor: underline;
    --font-bold: bold;
    --font-style: italic;

    .composition-block {
        position: relative;
        margin-top: 1em;
        padding-left: 1em;
        white-space: nowrap;

        &.invisible {
            display: none;
        }

        >.header {
            margin-right: 1em;
        }
    }

    .styled-block {

        &.chorded-block {
            .composition-line {
                line-height: 2.3em;
            }
        }

        &.enter {
            margin-left: var(--margin-left-small);
        }

        &._one,
        &._shift,
        &._plus_plus_shift {
            margin-left: var(--margin-left-medium);
        }

        &.p-two {
            margin-left: var(--margin-left-small);
            font-style: var(--font-style);
        }

        &.two,
        &.thirdo {
            font-weight: var(--font-bold);
            margin-left: var(--margin-left-small);
        }

        &.bridge {
            font-style: var(--font-style);
            font-weight: var(--font-bold);
            margin-left: var(--margin-left-large);
        }

        &.final {
            font-style: var(--font-style);
            font-weight: var(--font-bold);
            margin-left: var(--margin-left-medium);
        }

        &._plus,
        &._shift {
            margin-top: 0;
        }
    }

    .styled-header {
        font-weight: var(--font-bold);
        text-decoration: var(--text-decor);
        margin-bottom: .5em;

        &.enter,
        &.trans {
            margin-left: var(--margin-left-small);
        }

        &.p-two {
            font-style: var(--font-style);
        }
    }
}