.app-container.cm {
    overflow: hidden;
    position: relative;
    height: 100vh;

    >.main-container {
        --content-height: calc(100vh - var(--header-height) - var(--header-container-height) - var(--footer-height));
        --main-content-height: calc(100vh - var(--header-height) - var(--footer-height));

        .collapse-fullscreen-button {
            position: absolute;
            top: -30px;
            right: 0;
            margin: 10px;
            transition: top .2s;
            z-index: 50;
        }

        &.fullscreen-mode {
            --header-top: calc(0px - var(--header-height));
            --header-container-top: calc(0px - var(--header-container-height));
            --footer-bottom: calc(0px - var(--footer-height));
            --content-height: 100vh;
            --main-content-height: 100vh;
            --header-container-margin-top: calc(0px - var(--header-container-height) - var(--header-height));

            .collapse-fullscreen-button {
                top: 0;
            }
        }

        >.header {
            position: static;
            margin-top: var(--header-top);
            width: 100vw;
            background-color: var(--color--1);
            height: var(--header-height);
            transition: var(--fullscreen-transition);
        }

        >.content {
            position: static;
            width: 100vw;
            background-color: var(--color--5);
            overflow: hidden;
            transition: var(--fullscreen-transition);

            >.phase-content {
                height: 100%;
            }

            .header-content {
                width: 100vw;
                background-color: var(--color--1);
                height: var(--header-container-height);
                padding: var(--main-gap);
                margin-top: var(--header-container-margin-top);
                box-sizing: border-box;
                transition: var(--fullscreen-transition);

                .action-button {
                    padding: var(--main-gap);
                    cursor: pointer;
                }
            }

            .content-container {
                height: var(--content-height);
                transition: var(--fullscreen-transition);
                padding: var(--main-gap);
                overflow-y: auto;
                overflow-x: hidden;
            }
        }

        >.footer {
            position: absolute;
            bottom: var(--footer-bottom);
            width: 100vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--color--1);
            height: var(--footer-height);
            transition: var(--fullscreen-transition);

            >.footer-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 25%;
                cursor: pointer;

                >.icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 30px;
                    border-radius: 30px;
                    transition: width .1s, background-color .05s;
                }

                &.active {
                    >.icon-container {
                        width: 50px;
                        background-color: var(--color--2);
                        color: var(--color--3);
                    }
                }
            }
        }
    }

    .paranja {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 99;

        &.open {
            display: initial;
        }

        &.dark {
            display: initial;
            background-color: rgba(0, 0, 0, .2);
        }
    }

    .absolute-popup {
        position: absolute;
        z-index: 100;

        &:not(.bottom-mode) {
            padding: 10px 10px;
            background: var(--color--1);
            box-shadow: 0 0 40px var(--color--2);
            border-radius: 10px;
            top: -1000px;
            left: -1000px;

            .abs-item {
                cursor: pointer;
            }
        }

        &.bottom-mode {
            --max-height: 70vh;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            left: 0;
            bottom: calc(0px - var(--max-height));
            width: 100vw;
            max-height: var(--max-height);
            background-color: var(--color--1);
            overflow: hidden;
            height: 300px;
            padding: 30px;
            z-index: 150;
            transition: bottom .5s;

            &.open {
                bottom: 0;
            }

            .abs-item {
                padding: 10px 0;
            }
        }

        .abs-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 450px;

            &.abs-full {
                cursor: pointer;

                .abs-action {
                    width: calc(6em + 20px);
                }
            }

            .abs-icon {
                margin: var(--main-gap);
            }

            .abs-action {
                cursor: pointer;

                >.abs-full,
                &.abs-full {
                    width: calc(6em + 20px);
                }

                >* {
                    width: 2em;
                    text-align: center;

                    +* {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

}

#root {
    .com-expand-content {
        overflow: auto;

        .com-number {
            text-align: center;
        }

        .com-ord-list {
            width: 100%;
        }

        :not(:last-child) .com-ord-list {
            border-bottom: 2px var(--text-color) dashed;
        }
    }


    .roll-controled-container {
        .roll-controls {
            --height: 100px;

            position: fixed;
            top: calc(50vh - var(--height) / 2);
            right: 10px;
            height: var(--height);
            opacity: 0;
            pointer-events: none;
            cursor: pointer;
            transition: opacity .7s;
            z-index: 1;

            >* {
                margin: 5px;
            }

            &.open {
                opacity: .7;
                pointer-events: all;
            }
        }
    }
}






/*
    .chord-zero-line {
        fill: none;
        stroke: #ffdfad;
        stroke-width: 3px;
    }

    .chord-string {
        fill: none;
        stroke: #f2b148;
    }

    .chord-lad {
        fill: none;
        stroke: #f4f0e8;
    }

    .chord-application {
        margin-top: 1em;
    }

    .chord-board {
        position: relative;
        background-color: #634008;
        display: inline-block;
        vertical-align: middle;
    }

    .chord-point {
        stroke-linecap: round;
        stroke-width: 12px;
        stroke: red;

        &.shadow {
            stroke: grey;
        }
    }

    .first-lad-counter {
        font-size: 1em;
        margin-right: .5em;
        display: inline-block;
        vertical-align: middle;
    }

    .region-editor {

        .region-editor-block {
            position: relative;

            .float-button-panel {
                --size: 1.2em;

                position: absolute;
                top: calc(var(--y) * 1px - var(--size) * 1.2);
                left: calc(var(--x) * 1px);

                display: flex;
                transition: .5s;

                &.hidden {
                    opacity: 0;
                    pointer-events: none;
                }

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: var(--size);
                    height: var(--size);
                    border-radius: .3em;
                    margin-left: .2em;
                    opacity: 1;

                    &.close {
                        --svg-color: var(--color-no-3);

                        background: var(--color-no-6);
                    }

                    &.remove {
                        --svg-color: white;

                        background: var(--color-ko-2);
                    }

                    &.flag {
                        --svg-color: var(--color-br-6);

                        background: var(--color-br-2);
                    }

                    &.numeric {
                        background: var(--color-no-4);
                        color: white;

                        &.active {
                            background: var(--color-no-5);
                        }
                    }
                }
            }
        }

        .com-ord-list {
            &.region-edition {
                &.active {
                    .com-order-block {
                        &.inactive {
                            color: grey;
                        }

                        .inactive {
                            color: grey;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }


    .pre-post-chords-binder {
        display: inline-block;
        background-color: #ccc;
        opacity: .5;
        width: .7em;
        height: 1em;
        vertical-align: middle;
    }


    .com-editor-wrapper {
        .com-editor {
            display: inline-block;
            max-width: 100%;
            width: 100vw;
            vertical-align: middle;
            margin-top: 1rem;

            .btn-panel {
                margin-left: 1rem;
                font-size: 1.2em;

                &,
                & * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .textarea-col-wrapper {
                margin-bottom: 1.5em;

                .com-editor-textarea {
                    background-color: rgba(0, 0, 0, 0);
                    color: var(--white);
                    border: solid .7px var(--color-light-far);
                    outline: 0;
                    max-width: 97%;
                    width: 100vw;
                    font-size: var(--font-size);
                    resize: none;
                    font-family: main;

                    &.empty {
                        border: solid 1px var(--color-ok-4);
                    }
                }
            }
        }

        &.active {
            margin-left: 0 !important;
        }
    }

    .execution-item {
        &.separated {
            margin-top: 50px;
        }

        &.other-author {
            border-top: 5px dashed var(--color-far);
            margin-top: 30px;
            padding-top: 30px;
        }
    }

}/* */