body {
    --size-font-composition: 50px;
}

.app-container.cm {
    --font-size: 20px;
    --com-player-signaler-size: 50px;

    font-size: var(--font-size);

    .mytransition {
        transition: all ease 500ms;
    }

    .white-space-pre {
        white-space: pre;
    }

    .container,
    .app-body {
        margin-top: 1em;
    }

    .chord-zero-line {
        fill: none;
        stroke: #ffdfad;
        stroke-width: 3px;
    }

    .chord-string {
        fill: none;
        stroke: #f2b148;
    }

    .chord-lad {
        fill: none;
        stroke: #f4f0e8;
    }

    .chord-application {
        margin-top: 1em;
    }

    .com-player {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 15px);
    }

    .com-player-signaler-panel {
        position: absolute;
        right: 15px;
        bottom: 15px;
        z-index: 100;

        .speed-panel {
            position: absolute;
            bottom: var(--com-player-signaler-size);
            right: 0;
            text-align: center;
            transition: opacity .2s;
        }

        &.closing {
            .speed-panel {
                opacity: 0;
            }

            .com-player-signaler {
                transition: transform var(--slosing-time), background-color 1s;
                background-color: red;
                transform: scale(5);
            }
        }

        &.play-mode {
            opacity: .5;
        }

        .com-player-signaler {
            --slosing-time: calc(var(--slosing-time-kf) * 1ms);

            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--com-player-signaler-size);
            height: var(--com-player-signaler-size);
            background-color: orange;
            border-radius: 50%;
            transition: .2s;
            box-sizing: border-box;


            &:not(.pulse) {
                // transform: scale(1.2);
            }

            .num {
                font-size: .5em;

            }
        }
    }

    .roll-y-axis-thumb {
        position: fixed;
        top: calc(100vh * var(--roll-mode-padding-kf));
        right: 0;
        width: 30px;
        transition: .2s;
        opacity: 1;
        //background: yellow;

        &:not(.show) {
            opacity: 0;
            pointer-events: none;
        }
    }

    .chord-board {
        position: relative;
        background-color: #634008;
        display: inline-block;
        vertical-align: middle;
    }

    .chord-point {
        stroke-linecap: round;
        stroke-width: 12px;
        stroke: red;

        &.shadow {
            stroke: grey;
        }
    }

    /* .chord-bare-adder {
      
    } */

    .first-lad-counter {
        font-size: 1em;
        margin-right: .5em;
        display: inline-block;
        vertical-align: middle;
    }

    .filter-input {
        border: solid 1px grey;
        box-sizing: border-box;
    }

    .chord-ctrl {
        position: relative;
        transition: .2s;

        .native-numbers-list {
            position: absolute;
            left: 0;
            top: 30px;
            padding: 10px 15px;
            z-index: 1;
            max-width: calc(100% - 20px);
            box-sizing: border-box;

            .native-number {
                --digitals-count: 3;
                white-space: nowrap;
                display: flex;

                >.cat-native-name {
                    display: inline-block;
                    vertical-align: bottom;
                }

                >.cat-native-number {}
            }
        }
    }

    .song-number,
    .chord-binding,
    .transport {
        margin-right: 3px;
    }

    .song-number.unknown {
        color: transparent;
    }

    rrr,
    www {
        display: inline-block;
    }

    rrr:first-letter {
        color: red;
    }

    www:first-letter {
        color: orange;
    }

    :-webkit-full-screen {
        &.song-part-wrapper {

            &.current,
            www:first-letter,
            rrr:first-letter {
                color: var(--color-far);
                position: static;
            }

            &.current {
                position: absolute;
                top: -30px;
                left: -30px;
                display: flex;
                background-color: black;
                justify-content: space-around;
                height: calc(100vh + 60px);
                width: calc(100vw + 60px);
                z-index: 3;
                white-space: nowrap;

                .song-part {
                    align-self: center;
                }
            }
        }

        .song-ctrl-pannel {
            z-index: 3;
            position: absolute;
            bottom: 40px;
            left: 40px;

            &.show {
                z-index: 4;
            }
        }
    }

    .window-emulator {
        position: relative;
        width: 100%;
        padding: 0;

        .window-emulator-parent-wrapper {
            --size: calc(100vmin * .5 - 4em);
            --min-size: 300px;

            position: relative;
            display: inline-block;
            padding: 0;

            background-color: grey;
            width: var(--size);
            height: var(--size);
            min-width: var(--min-size);
            min-height: var(--min-size);
            overflow: hidden;

            .parent {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
            }
        }

        .window-emulator-ctrl {
            display: inline-block;
            width: min-content;
            overflow-y: auto;
        }
    }




    .window-emulator-oscreen {
        display: flex;
        justify-content: space-around;
        align-self: center;
    }

    .window-emulator-screen {
        align-self: center;
        margin: 0;
    }

    .window-emulator-text-list {
        margin: 1em 0;
        padding: 1em 0;
        overflow: auto;
        white-space: nowrap;
        background: black;
    }

    .window-emulator-text-list-unit {
        display: inline-block;
        vertical-align: middle;
        padding: 0 1em;

        .window-emulator-text-list-unit-inner {
            user-select: none;
            cursor: pointer;
            background: black;
            white-space: pre;
            color: var(--color-far);
            border: solid 1px transparent;
            font-size: 14px;
            overflow: hidden;

            &.active {
                border-color: var(--color-far);
            }
        }
    }

    .chorded {
        position: relative;
        display: inline-block;
        line-height: 1;
        cursor: pointer;
        white-space: pre;

        &:not(.collapsed-com) {
            &.mark-origin-letter {

                &:first-letter,
                &.spaced-word:after {
                    background-color: rgba(0, 255, 2, .3);
                }
            }

            &.mark-driven-letter {

                &:first-letter,
                &.spaced-word:after {
                    background-color: rgba(255, 209, 0, .3);
                }
            }
        }

        &.collapsed-com {

            &.mark-origin-letter,
            &.mark-driven-letter {

                &:first-letter,
                &.spaced-word:after {
                    background-color: rgba(0, 209, 200, .3);
                }
            }
        }

        &:not(.pre):not(.post):before {
            left: 0;
        }

        &:not(.post) {

            &:before,
            &:after {
                position: absolute;
                z-index: 0;
                top: -1em;
                font-size: 1em;
                pointer-events: none;
            }

            .fragment {

                &:before {
                    content: attr(attr-pchord);
                    position: absolute;
                    top: -1em;
                    left: 100%;
                }

                &:after {
                    content: attr(attr-chord);
                    display: block;
                    margin-top: -1em;
                    color: transparent;
                }
            }
        }

        &.spaced-word:not(.post):after {
            content: '.';
            color: transparent;
            top: 0;
            width: .3em;
        }

        &.pre:before,
        &:not(.pre):not(.post):before {
            content: attr(attr-chord);
            white-space: nowrap;
            max-width: 500px;
        }

        &.pre:before {
            left: -.5em;
        }

        &.post {
            .fragment {
                position: relative;
                display: inline-block;

                &:before {
                    content: attr(attr-chord);
                    height: 1em;
                    display: block;
                }
            }

            &:before {
                //content: attr(attr-pchord);
                position: absolute;
                right: 0;
                top: -1em;
            }

            &:after {
                content: attr(attr-pchord);
                position: relative;
                top: -1em;
                //color: transparent;
                margin-left: .2em;
                display: inline-block;
            }
        }
    }

    .region-editor {

        .region-editor-block {
            position: relative;

            .float-button-panel {
                --size: 1.2em;

                position: absolute;
                top: calc(var(--y) * 1px - var(--size) * 1.2);
                left: calc(var(--x) * 1px);

                display: flex;
                transition: .5s;

                &.hidden {
                    opacity: 0;
                    pointer-events: none;
                }

                .button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: var(--size);
                    height: var(--size);
                    border-radius: .3em;
                    margin-left: .2em;
                    opacity: 1;

                    &.close {
                        --svg-color: var(--color-no-3);

                        background: var(--color-no-6);
                    }

                    &.remove {
                        --svg-color: white;

                        background: var(--color-ko-2);
                    }

                    &.flag {
                        --svg-color: var(--color-br-6);

                        background: var(--color-br-2);
                    }

                    &.numeric {
                        background: var(--color-no-4);
                        color: white;

                        &.active {
                            background: var(--color-no-5);
                        }
                    }
                }
            }
        }

        .com-ord-list {
            &.region-edition {
                &.active {
                    .com-order-block {
                        &.inactive {
                            color: grey;
                        }

                        .inactive {
                            color: grey;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }

    .com-ord-list {
        display: inline-block;
        font-size: 20px;
        color: var(--color-far);
        padding-top: .06em;
        transition: padding .2s;

        .song-part {
            position: relative;
            margin-top: 1em;
            padding-left: 1em;
            line-height: 2.3em;
            white-space: nowrap;

            &.without-chords {
                line-height: 1.5em;
            }

            .song-line {
                display: list-item;
                list-style: none;
            }
        }

        .styled-block {
            margin-top: 1em;

            >.header {
                margin-right: 1em;
            }
        }
    }

    .order-ctrl-pannel {
        height: 100%;
        width: auto;
        margin: 20px;

        >.order-ctrl-pannel-line {
            height: 10px;
            width: 100%;
            margin: 3px;

            >* {
                position: relative;
                display: flex;
                height: 100%;
                width: 70%;
                background-color: #aaa;
            }
        }
    }

    .pointer {
        cursor: pointer;
    }

    .errorText {
        background-color: red;
        color: var(--white);
    }

    .error-text {
        color: var(--color-ko-5);
    }

    .pre-post-chords-binder {
        display: inline-block;
        background-color: #ccc;
        opacity: .5;
        width: .7em;
        height: 1em;
        vertical-align: middle;
    }

    .category-wrapper {
        position: relative;

        .component-list {
            max-height: calc(100vh - 95px);
            overflow: auto;
            transition: padding .2s;

            &.can-redact {
                max-height: calc(100vh - 150px);
            }

            .com-face {
                position: relative;

                &[order-position]:after {
                    content: attr(order-position);
                    position: absolute;
                    top: .6em;
                    right: .5em;
                    font-size: .7em;
                }
            }
        }

        .select-actions-panel {
            position: absolute;
            top: 95px;
            left: 0;
            z-index: 1;
            display: none;
            opacity: 0;
            transition: opacity .3s;
        }

        &.select-mode {
            .component-list {
                padding-top: 40px;
            }

            .select-actions-panel {
                opacity: 1;
                display: block;
            }
        }
    }

    .com-order-panel {
        .add-order-button {
            max-width: 95%;
        }

        .rem-order-button {
            max-width: 30%;
        }

        .chord-bind-button {
            max-width: 20%;
        }
    }

    .com-editor-wrapper {
        .com-editor {
            display: inline-block;
            max-width: 100%;
            width: 100vw;
            vertical-align: middle;
            margin-top: 1rem;

            .btn-panel {
                margin-left: 1rem;
                font-size: 1.2em;

                &,
                & * {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .textarea-col-wrapper {
                margin-bottom: 1.5em;

                .com-editor-textarea {
                    background-color: rgba(0, 0, 0, 0);
                    color: var(--white);
                    border: solid .7px var(--color-light-far);
                    outline: 0;
                    max-width: 97%;
                    width: 100vw;
                    font-size: var(--font-size);
                    resize: none;
                    font-family: main;

                    &.empty {
                        border: solid 1px var(--color-ok-4);
                    }
                }
            }
        }

        &.active {
            margin-left: 0 !important;
        }
    }

    .fade-in {
        animation: fade-in .3s linear;
    }


    .send-execs-buttons {
        margin-top: 7px;
        margin-bottom: 7px;
    }


    .anchor.styled-block {
        opacity: .4;
        margin-top: .7em;
    }


    .binds-list-wrapper {
        width: 100%;
        overflow-x: auto;
    }

    .binds-list {
        display: block;
        white-space: nowrap;
    }

    .col-title {
        color: var(--color-ok-4);
        border: solid transparent 1px;
        outline: 0;
        background-color: transparent;
        font-size: 20px;
        margin: 10px 0;
        width: 100%;

        &.inactive {
            pointer-events: none;
        }
    }

    .execution-item {
        &.separated {
            margin-top: 50px;
        }

        &.other-author {
            border-top: 5px dashed var(--color-far);
            margin-top: 30px;
            padding-top: 30px;
        }
    }

    .text-heap-textarea {
        width: calc(100% - 5px);
        height: 50vh;
        border: 2px dashed var(--color-far);
        background-color: transparent;
        outline: 0;
    }

    .shadowed-com {
        position: absolute;
        //opacity: 0;
        //pointer-events: none;
        //height: 0;
        //overflow: hidden;

        .com-ord-list {
            font-size: var(--com-font-size);
        }
    }

    .app-container {
        --transition-time: 1s;

        position: absolute;
        width: 100vw;
        height: 100vh;

        &.roll-mode {
            .chord-ctrl {
                position: absolute;
                top: -50px;
                opacity: 0;
                pointer-events: none;
            }

            .com-ord-list {
                &:not(:last-child) {
                    border-bottom: dashed 2px var(--color-far);
                }

                &:first-child {
                    padding-top: calc(100vh * var(--roll-mode-padding-kf));
                }

                &:last-child {
                    padding-bottom: calc(100vh * (1 - var(--roll-mode-padding-kf)));
                }
            }
        }

        &.hidden-tools {
            .tools-panel {
                left: -80px;
                opacity: 0;
            }

            .phase-body {
                --left: 5px;
                width: calc(100vw - var(--left));
                left: var(--left);
            }

            .changes-list {
                height: 0;
                opacity: 0;
            }

            .redact-button {
                opacity: 0;
                pointer-events: none;
            }

            .chords-images-show-panel {
                display: none;
            }
        }

        .chords-images-show-panel.hidden {
            display: none;
        }

        .com-screen {
            .used-chords {
                display: none;

                &.shown {
                    display: block;
                }
            }
        }

        .changes-list {
            overflow: hidden;
            transition: height .2s linear, opacity .2s linear;
        }

        .com-button {
            position: relative;
            width: calc(100% - 43px);
            padding-top: .3em;
            padding-bottom: .3em;
            //padding-left: 0;
            padding-right: 5em;
            animation: scale-in .1s;

            .com-number {
                position: absolute;
                display: inline-block;
                left: calc(100% - 3.5em);
                transition: .3s ease;
                width: 3em;
            }
        }

        .tools-panel {
            --margin-tools-panel: 5px;

            position: absolute;
            padding: var(--margin-tools-panel);
            box-sizing: border-box;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
            transition: .2s;

            .bb-button {
                --size: 40px;
                --svg-color: var(--color-base-2);

                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--size);
                height: var(--size);
                border: none;
                outline: 0;
                border-radius: 50%;
                transition: .2s ease-in;
                background-color: var(--color-base-3);
                cursor: pointer;
            }

            .marks-box {
                --width: 81vw;
                --nwidth: calc(0px - var(--width));

                position: relative;
                padding-top: 40px;
                left: calc(var(--nwidth) + 43px);
                width: var(--width);
                z-index: 100;

                transition: .1s linear;

                &.hidden {
                    opacity: 0;
                    pointer-events: none;

                    +.paranja {
                        display: none;
                    }
                }

                &.opened {
                    left: 5px;

                    +.paranja {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        background-color: rgba(0, 0, 0, .5);
                        z-index: 99;
                    }

                    .open-button {
                        right: calc(100% - 47px);
                    }

                    .list {
                        max-width: 97vw;
                    }

                    .com-button {
                        opacity: 1;
                        padding-left: 2.3em;
                        padding-right: .5em;

                        .com-number {
                            left: -1em;
                            text-align: right;
                        }
                    }
                }

                &:not(.opened) .com-button .com-number {
                    text-align: right;
                }

                .list {
                    overflow-y: auto;
                    height: calc(50vh - 18vmin);
                }

                .order-button {
                    color: white;
                }

                .open-button {
                    right: 0;

                    &.notified {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 3px;
                            right: 3px;
                            width: 7px;
                            height: 7px;
                            background-color: var(--color-ko-4);
                            border-radius: 50%;
                        }
                    }
                }

                .print-button {
                    left: 45px;
                }


                & .print-button,
                & .open-button {
                    position: absolute;
                    top: 10px;
                    transition: .4s cubic-bezier(1, 1.5, .7, 1.1);
                }
            }

            .helper {
                --box-size: 30px;

                position: relative;
                width: var(--box-size);
                height: var(--box-size);
                border-radius: calc(var(--box-size) / 5);
                background-color: var(--color-no-6);
                color: var(--color-no-1);
                margin: 4px;

                z-index: 101;

                &.helper-mode {
                    background-color: var(--color-ko-6);
                    color: var(--color-ko-1);
                }
            }

            .range-panel {
                --base-size: 0px;
                --ring-size: calc(var(--base-size) - var(--base-size) / 8);
                --ring-margin: calc(var(--base-size) / 15);
                --range-panel-border-width: calc(var(--base-size) / 8);
                --ranged-width: calc(100vw - (var(--margin-tools-panel) * 2 + var(--range-panel-border-width) * 2));

                position: relative;
                z-index: 98;

                border: solid var(--range-panel-border-width) var(--color-ok-6);
                border-radius: var(--base-size);
                width: var(--base-size);
                height: var(--base-size);
                transition: width .2s ease;

                &.ranged {
                    width: var(--ranged-width);
                }

                >.range-farvater {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: var(--ranged-width);
                    opacity: 0;
                    pointer-events: none;
                }

                >.blur-ring {
                    position: absolute;
                    display: flex;

                    align-items: center;
                    justify-content: space-around;

                    pointer-events: none;
                    width: var(--ring-size);
                    height: var(--ring-size);
                    border-radius: 50%;
                    background-color: #999;
                    opacity: 0;
                    margin: var(--ring-margin);
                    transition: left .2s ease, opacity .1s ease;

                    >.text {
                        font-size: calc(var(--base-size) / 3);
                    }
                }

                >.ring {
                    position: relative;
                    display: flex;

                    align-items: center;
                    justify-content: space-around;

                    touch-action: none;

                    width: var(--ring-size);
                    height: var(--ring-size);
                    margin: var(--ring-margin);
                    border-radius: 50%;
                    background-color: var(--color-ok-4);


                    >.text {
                        color: var(--color-far);
                        font-size: calc(var(--base-size) / 3);
                    }
                }
            }
        }

        &.phase-1 {
            .main-top-buttons {
                top: 0px;
            }
        }

        .main-top-buttons {
            position: absolute;
            right: 5px;
            top: -30px;
            z-index: 1;

            transition: top .3s ease;
        }

        .phase-body {
            position: absolute;
            top: 0;
            left: 50px;
            opacity: 0;
            display: none;
            width: calc(100vw - 50px);
            min-width: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 100vh;
            font-size: 16px;
            //padding-right: 10px;

            transition: .2s linear;

            &:not(.active) {
                pointer-events: none;
            }

            &.active {
                display: block;
                opacity: 1;
            }
        }

    }

    [class*="helper-element"] {
        --rotate-kf: 1;
        --scale-kf: 1;
        position: relative;
        z-index: 5;
    }

    [class*="helper-element"][class*="--sm"] {
        --rotate-kf: .8;
        --scale-kf: .7;
    }

    [class*="helper-element-shaking"] {
        animation: helper-element-shake-animation .5s !important;
    }

    [class*="helper-element-sizing"] {
        animation: helper-element-sizing-animation .5s !important;
    }

    [class*="helper-element-slide-d"] {
        position: relative;
        animation: helper-element-swipe-d-animation .5s !important;
    }

    [class*="helper-element-color-highlight"] {
        animation: helper-element-color-highlight-animation .5s !important;
    }

    .blur-element-animated {
        animation: blur-element-animation 1s;
    }

}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes blur-element-animation {
    from {
        opacity: 1;
    }

    20% {
        opacity: .2;
    }

    80% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.phase-body {
    position: absolute;
    top: 0;
    left: 50px;
    opacity: 0;
    display: none;
    width: calc(100vw - 50px);
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    font-size: 16px;
    //padding-right: 10px;

    transition: .2s linear;

    &:not(.active) {
        pointer-events: none;
    }

    &.active {
        display: block;
        opacity: 1;
    }
}

@keyframes helper-element-swipe-d-animation {
    from {
        top: 0;
    }

    10% {
        top: .5em;
    }

    50% {
        top: 0;
    }

    60% {
        top: .5em;
    }

    100% {
        top: 0;
    }
}

@keyframes helper-element-color-highlight-animation {
    10% {
        color: red;
    }

    50% {
        color: transparent;
    }

    60% {
        color: red;
    }
}


@keyframes helper-element-shake-animation {
    from {
        transform: rotate(calc(5deg * var(--rotate-kf))) scale(calc(1 * var(--scale-kf)));
    }

    20% {
        transform: rotate(calc(15deg * var(--rotate-kf))) scale(calc(1.2 * var(--scale-kf)));
    }

    40% {
        transform: rotate(calc(-15deg * var(--rotate-kf))) scale(calc(1.5 * var(--scale-kf)));
    }

    60% {
        transform: rotate(calc(15deg * var(--rotate-kf))) scale(calc(1.1 * var(--scale-kf)));
    }

    80% {
        transform: rotate(calc(-15deg * var(--rotate-kf))) scale(calc(1.7 * var(--scale-kf)));
    }

    to {
        transform: rotate(calc(5deg * var(--rotate-kf))) scale(calc(1 * var(--scale-kf)));
    }
}

@keyframes helper-element-sizing-animation {
    from {
        transform: scale(calc(1 * var(--scale-kf)));
    }

    20% {
        transform: scale(calc(1.2 * var(--scale-kf)));
    }

    40% {
        transform: scale(calc(1 * var(--scale-kf)));
    }

    60% {
        transform: scale(calc(1.2 * var(--scale-kf)));
    }

    to {
        transform: scale(calc(1 * var(--scale-kf)));
    }
}