.translation-container {
    --radius: 20px;
    --size: 50vmin;
    --max-size: 300px;
    --min-size: 200px;

    .translation-screen-wrapper {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0 1em;
        width: var(--size);
        height: var(--size);
        max-width: var(--max-size);
        max-height: var(--max-size);
        min-width: var(--min-size);
        min-height: var(--min-size);

        .translation-screen-wrapper-inner {
            user-select: none;
            cursor: pointer;
            background: black;
            white-space: pre;
            color: var(--color-far);
            border: solid 1px transparent;
            font-size: 14px;
            overflow: hidden;
            border-radius: var(--radius);

            &.active {
                border-color: var(--color-far);
            }
        }
    }

    .translation-com-list {
        width: 50%;
        height: var(--size);
        max-height: var(--max-size);
        min-height: var(--min-size);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .translations-line {
        margin: 1em 0;
        padding: 1em 0;
        overflow: auto;
        white-space: nowrap;
        background: black;
        color: white;
        border-radius: var(--radius);

        .translations-line-item {
            display: inline-block;
            vertical-align: middle;
            padding: 0 1em;

            .translations-line-item-inner {
                user-select: none;
                cursor: pointer;
                background: black;
                white-space: pre;
                color: var(--color-far);
                border: solid 1px transparent;
                font-size: 14px;
                overflow: hidden;
                text-align: center;

                &.active {
                    border-color: var(--color-far);
                }
            }
        }
    }

    .control-panel {
        >.button {
            padding: 2px 15px;
            border-radius: 15px;
            background-color: var(--color--1);
            color: var(--color--4);
            cursor: pointer;

            +.button {
                margin-left: 10px;
            }
        }

        >.start-translation {
            --svg-color: var(--color--5);

            width: 100%;
            background-color: var(--color--7);
        }
    }

    .fullscreen-translation {
        position: absolute;
        background: black;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        color: white;
        z-index: 1000;

        .triple-area {
            position: absolute;
            top: 0;
            width: 40%;
            height: 100vh;

            &.center {
                width: 20%;
                left: 40%;

                .close-translation-button {
                    --svg-color: white;

                    position: relative;
                    top: -50px;
                    transition: top .4s;
                    left: calc(50% - 24px / 2);
                    z-index: 10000;

                    &.show {
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }
}