.printable-template {
  .table-wrapper {
    display: flex;
    justify-content: center;

    > .table {
      --table-size: 40vmin;
      border: solid black 1px;

      > .row {
        display: flex;

        > .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--table-size));
          height: calc(var(--table-size) / 2);
          border: solid black 1px;
          color: grey;
          text-align: center;
        }
      }
    }
  }
}

.adaptation-page {
  padding: 40px;

  .table-wrapper {
    display: flex;
    justify-content: center;

    > .table {
      --table-size: 80vmin;
      width: var(--table-size);
      border: solid black 1px;

      > .row {
        display: flex;

        > .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--table-size) / 2);
          height: calc(var(--table-size) / 2);
          border: solid black 1px;
          color: grey;

          .qr-code {
            width: calc(100% - 10px);
          }
        }
      }
    }
  }
}
