.tuner-application {
  .tuner-container {
    padding: 0;

    &:not(.started) {
      display: flex;
      justify-content: center;
      align-items: center;

      .tuner-content {
        display: none;
      }
    }

    &.started {
      .start-button {
        display: none;
      }

      .tuner-content {
        opacity: 1;
      }
    }

    .start-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--color--2);
      width: 50vmin;
      height: 50vmin;
      font-size: 30px;
    }

    .tuner-content {
      position: relative;
      opacity: 0;
      transition: opacity 0.5s;
      width: 100%;
      height: 100%;
      pointer-events: none;

      .frequency-bars {
        position: absolute;
      }
    }
  }
}
