.user-face {
    --size: 2.5em;
    --logo-border-size: 2px;

    position: relative;
    display: flex;
    height: var(--size);
    align-items: center;
    padding: .4em;
    margin-bottom: calc(var(--logo-border-size) * 2 + 2px);
    cursor: pointer;

    &.selected .logo {
        border-color: var(--color--3);
    }

    >.logo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color--1);
        border-radius: 50%;
        width: var(--size);
        height: var(--size);
        border: solid 4px transparent;
    }

    >.title {
        margin-left: calc(2.5em + 1em);
    }
}

.messages-box {
    .message {
        background-color: var(--color--2);
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        color: var(--color--3);
    }
}