{
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "concentric-css",
  "arrowParens": "avoid"
}
