.text-heap-textarea {
    width: calc(100% - 5px);
    height: 50vh;
    border: 2px dashed var(--color-far);
    background-color: transparent;
    outline: 0;
}

.orders-redactor {
    --svg-color: var(--color--7);

    .order-changes-buttons {
        >* {
            margin-right: var(--main-gap);
        }
    }

    .inherit-block {
        opacity: .2;
        color: var(--color--7);
    }
}