.fullscreen-content-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  z-index: 999;

  &.closable {
    > .close-button {
      display: none;
    }
  }

  > .close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .full-container {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - var(--keyboard-flash-height));
    width: 100vw;
    background-color: var(--current-bg);
    overflow-y: auto;
  }
}
