.edit-container-corrects-informer {
    border: 1px solid transparent;
    margin: var(--main-gap) 0;

    >.corrects-container {
        >.correct-box {
            margin: 15px 0;
            padding: 10px;
            border-radius: 10px;

            &.error {
                color: red;
                background-color: rgba(255, 0, 0, .3);
            }

            &.warning {
                color: orange;
                background-color: rgba(255, 165, 0, .3);
            }

            &.unknown {
                color: cadetblue;
                background-color: rgba(0, 255, 255, .3);
            }
        }

        .fix-button {
            margin-top: 15px;
            color: var(--text-color);
            cursor: pointer;
        }
    }
}