body {
    --full-height: 100%;
    --main-gap: 8px;
    --main-big-gap: 18px;
    --main-giant-gap: 40px;
    --header-padding-top: 23px;
    --header-padding: var(--header-padding-top) var(--main-gap) var(--main-gap) var(--main-gap);
    --header-content-height: 50px;
    --footer-height: 70px;
    --fullscreen-transition: top .3s, bottom .3s, height .3s, margin-top .3s;
    --header-top: 0px;
    --header-height: calc(var(--header-padding-top) + var(--header-content-height));
    --footer-bottom: 0px;
    --content-height: calc(100% - var(--footer-height) - var(--keyboard-flash-height));
    --content-top: var(--header-content-height);
    --phase-container-height: calc(100% - var(--header-height));
    --keyboard-flash-height: 0px;
    --footer-opacity: 1;

    --keyboard-flash-background: var(--color--2);
    --keyboard-flash-selected-background: var(--color--3);
    --keyboard-flash-selected-color: var(--color--1);
    --keyboard-flash-tool-button-background: var(--color--1);
    --keyboard-flash-color: var(--text-color);

    overflow: hidden;

    .padding-giant-gap {
        padding: var(--main-giant-gap);
    }

    .padding-big-gap {
        padding: var(--main-big-gap);
    }

    .padding-gap {
        padding: var(--main-gap);
    }

    .margin-big-gap {
        margin: var(--main-big-gap);
    }

    .margin-big-gap-v {
        margin-top: var(--main-big-gap);
        margin-bottom: var(--main-big-gap);
    }

    .margin-big-gap-b {
        margin-bottom: var(--main-big-gap);
    }

    .margin-big-gap-l {
        margin-left: var(--main-big-gap);
    }

    .margin-big-gap-r {
        margin-right: var(--main-big-gap);
    }

    .margin-gap-b {
        margin-bottom: var(--main-gap);
    }

    .margin-big-gap-h {
        margin-left: var(--main-big-gap);
        margin-right: var(--main-big-gap);
    }

    .margin-gap {
        margin: var(--main-gap);
    }

    .margin-gap-v {
        margin-top: var(--main-gap);
        margin-bottom: var(--main-gap);
    }

    .margin-gap-h {
        margin-left: var(--main-gap);
        margin-right: var(--main-gap);
    }


    .above-container.keyboard-open {
        --keyboard-flash-height: 30vh;
        --footer-height: 0px;
        --footer-opacity: 0;

        .phase-container>.content {
            padding-bottom: var(--keyboard-flash-height);
        }
    }

    .application-container {
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 100%;
        width: 100vw;

        .collapse-fullscreen-button {
            position: absolute;
            top: -40px;
            right: 0;
            margin: 10px;
            transition: top .2s;
            z-index: 50;
        }

        .phase-container {
            height: var(--phase-container-height);
        }

        &.fullscreen-mode {
            --header-top: calc(0px - var(--header-height));
            --header-container-top: calc(0px - var(--header-content-height));
            --footer-bottom: calc(0px - var(--footer-height));
            --content-height: 100%;
            --phase-container-height: 100%;
            --content-top: 0;

            .collapse-fullscreen-button {
                top: 0;
            }
        }

        >.footer {
            position: absolute;
            z-index: 200;
            bottom: var(--footer-bottom);
            width: 100vw;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--color--1);
            height: var(--footer-height);
            transition: var(--fullscreen-transition);
            overflow: hidden;
            opacity: var(--footer-opacity);

            >.footer-item {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 25%;
                cursor: pointer;

                >.icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 30px;
                    border-radius: 30px;
                    transition: width .1s, background-color .05s;
                }

                &.active {
                    >.icon-container {
                        width: 50px;
                        background-color: var(--color--2);
                        color: var(--color--3);
                    }
                }
            }
        }
    }
}