.phase-container.composition-container {
    .composition-content {
        transition: padding-top .2s;

        .composition-player {
            --transition-speed: .2s;
            
            position: absolute;
            top: var(--header-height);
            left: 0;
            right: 0;
            z-index: 1;
            opacity: 0;
            transition: width var(--transition-speed),
                background var(--transition-speed),
                opacity var(--transition-speed);
        }
    }

    &.with-open-player {
        &.expand {
            --content-padding-top: var(--com-player-expand-height);
        }

        &.min {
            --content-padding-top: var(--com-player-height);
        }

        .composition-content {
            padding-top: var(--content-padding-top);

            .composition-player {
                opacity: 1;
            }
        }
    }

    .com-actions-pannel {
        max-width: calc(100vw - 130px);
        height: 40px;
        padding-left: 10px;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.com-ord-list {
    display: inline-block;
    color: var(--color-far);
    padding-top: .06em;
    transition: padding .2s;
}


.chorded {
    position: relative;
    display: inline-block;
    line-height: 1;
    white-space: pre;

    &:not(.pre):not(.post):before {
        left: 0;
    }

    &:not(.post) {

        &:before,
        &:after {
            position: absolute;
            z-index: 0;
            top: -1em;
            font-size: 1em;
            pointer-events: none;
        }

        .fragment {

            &:before {
                content: attr(attr-pchord);
                position: absolute;
                top: -1em;
                left: 100%;
            }

            &:after {
                content: attr(attr-chord);
                display: block;
                margin-top: -1em;
                color: transparent;
            }
        }
    }

    &.spaced-word:not(.post):after {
        content: '.';
        color: transparent;
        top: 0;
        width: .3em;
    }

    &.pre:before,
    &:not(.pre):not(.post):before {
        content: attr(attr-chord);
        white-space: nowrap;
        max-width: 500px;
    }

    &.pre:before {
        left: -.5em;
    }

    &.post {
        .fragment {
            position: relative;
            display: inline-block;

            &:before {
                content: attr(attr-chord);
                height: 1em;
                display: block;
                margin-top: -1em;
            }
        }

        &:before {
            position: absolute;
            right: 0;
            top: -1em;
        }

        &:after {
            content: attr(attr-pchord);
            position: relative;
            top: -1em;
            margin-left: .2em;
            display: inline-block;
        }
    }
}