.schedule-widget-bind-secs {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: var(--margin-gap);
}


.schedule-widget-tatt {
    --att-size: 90px;

    position: relative;
    background-color: var(--color--5);
    width: var(--att-size);
    min-width: var(--att-size);
    max-width: var(--att-size);
    height: var(--att-size);
    min-height: var(--att-size);
    max-height: var(--att-size);
    border-radius: 3px;

    .close-button {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.icon-indent-text {
    --indent: 24px;
    margin-top: -1.7em;

    .markdownFieldContent {

        >span,
        >h1,
        >h2,
        >h3,
        >h4,
        >h5,
        >h6,
        >:first-child>[prop-src],
        >:first-child>:first-child>[prop-src] {
            &:first-child {
                margin-left: var(--indent);
            }
        }

        >:first-child>table:first-child,
        >table:first-child {
            margin-left: var(--indent);
            width: calc(100% - var(--indent));
        }


        >div:first-child>p:first-child,
        >p:first-child {
            text-indent: var(--indent);
        }
    }
}