.user-greets {
  position: absolute;
  top: 5px;
  width: 100vw;
  text-align: center;
}

.app-loader-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  & > .app-loader-window-wrapper {
    font-size: 1em;

    & > .app-loader-window {
      border: solid 1px var(--color-br-3);
      border-radius: 5px;
      background-color: var(--color-br-5);
      padding: 3px;
      color: var(--color-br-1);

      & > .app-item {
        margin: 3px;
        border-radius: 3px;
        background-color: var(--color-br-4);
        padding: 10px;

        & > .app-title {
          margin: 3px;
          border-radius: 3px;
          background-color: var(--color-br-5);
          padding: 10px;

          & > .app-download-button {
            color: var(--color-br-1);
          }
        }
      }

      & > .system-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        color: var(--color-no-6);

        > .text {
          cursor: pointer;
        }
      }
    }
  }
}
