html, body {
 margin: 0;
 padding: 0;
 touch-action: none;
}

.app-container {
 --box-size: 50vmin;
 --box-top: calc(50vh - var(--box-size) / 2);
 --box-left: calc(50vw - var(--box-size) / 2);
 --side-box-size: 40vmin;
 --side-box-top: calc(var(--box-top) + ((var(--box-size) - var(--side-box-size)) / 2));
 --side-near-kf: 1.2;
 --left-box-left: calc(var(--box-left) - var(--side-box-size));
 --right-box-left: calc(var(--box-left) + var(--box-size));
 --ts: .1s;
 
 position: relative;
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 background-color: yellow;
 overflow: hidden;
}

.app-container.focused {
 background-color: orange;
}

.app-container > .title-text {
 top: calc(50vh - .5em);
 transition: .1s linear;
}

.app-container > .main-text {
 position: absolute;
 display: inline-block;
 width: 100vw;
 text-align: center;
 font-size: 50px;
}

.app-container:not(.app-title) > .title-text {
 top: 1em;
}

.app-container > .voice-text {
 position: absolute;
 top: calc(var(--box-top) + var(--box-size) + 1.5em);
}

.app-container > .animal-img {
 position: absolute;
 width: var(--box-size);
 height: var(--box-size);
 top: var(--box-top);
 left: var(--box-left);
 overflow: hidden;
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 
 transition: left var(--ts), top var(--ts), opacity calc(var(--ts) * 2), width var(--ts), height var(--ts);
 
 z-index: 3;
}

.app-container > .animal-img.hidden {
 opacity: 0;
 z-index: 1;
}

.app-container > .animal-img.left,
.app-container > .animal-img.right {
 top: var(--side-box-top);
 width: var(--side-box-size);
 height: var(--side-box-size);
 
 z-index: 2;
}


.app-container > .animal-img.left {
 left: var(--left-box-left);
}

.app-container > .animal-img.right {
 left: var(--right-box-left);
}

.app-container.line-mode > .animal-img.right:not(.used) {
 opacity: 0;
}

.hidden-input {
 position: absolute;
 top: -1000vh;
 left: -1000vw;
 font-size: 1000px;
}









