.app-modal-window {
    --color: var(--color--4);
    --padding: 15px;

    position: absolute;
    z-index: 1000;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: var(--color--1);

    ::-webkit-scrollbar {
        display: none;
    }

    >.app-modal {
        display: inline-block;
        margin: auto;
        width: 500px;
        min-height: max-content;
        max-height: calc(100% - 10px);
        max-width: calc(100vw - 50px);
        border-radius: 5px;
        background-color: var(--color--2);

        >.app-modal-title {
            display: flex;
            justify-content: space-between;
            color: var(--color);
            max-height: 2em;
            font-size: 1.2em;
            font-weight: bold;
            margin: var(--padding);

            >.app-modal-title-close-icon {
                cursor: pointer;
                font-weight: bolder;
            }
        }

        >.app-modal-body {
            max-height: calc(100vh - 5em - 20px - 30px);
            overflow-y: auto;
            overflow-x: hidden;
            color: var(--color);

            &.with-error {
                max-height: calc(100vh - 6.2em);
            }

            >.app-modal-body-inner {
                >.app-modal-description {
                    margin: var(--padding);
                }

                >.app-modal-body-input-list {
                    padding: 10px var(--padding);

                    >.app-modal-body-input-list-item>.app-modal-body-input-list-item-input {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        min-height: 2em;
                        outline: none;

                        &,
                        >.native-input {
                            background: var(--color--1);
                        }
                    }
                }
            }
        }

        >.app-modal-footer {
            >.app-modal-footer-error {
                padding: 0px 5px;
                color: red;
            }

            >.app-modal-footer-button-list {
                overflow-x: auto;
                overflow-y: hidden;
                padding: var(--padding);
                text-align: right;

                >.app-modal-footer-button-list-inner {
                    display: inline-block;
                    white-space: nowrap;

                    >.app-modal-footer-button-list-item {
                        border-radius: 3px;
                        background-color: transparent;
                        color: var(--color);
                        outline: none;
                        margin: 0 2px;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.modal-application-screen {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:not(.type_toast) {
        background: var(--color--1);
    }

    &.type_ {
        &toast {
            pointer-events: none;
        }
    }

    .modal-headder {
        margin: 10px 0;
    }

    .modal-body {
        margin: 20px 0;
        overflow: auto;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    >.modal-screen-wrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &.type_ {
            &toast {
                bottom: 5rem;
            }

            &screen {
                align-items: center;
            }
        }

        >.modal-screen {
            --icon-color: var(--color--3);

            position: absolute;
            white-space: pre-wrap;
            word-break: break-word;
            overflow: hidden;
            padding: .5rem 1rem;
            display: inline-block;
            max-width: calc(100vw - 50px);
            border-radius: 5px;
            color: var(--color--3);
            background-color: var(--color--2);

            &:not(.type_toast) {
                display: flex;
                flex-direction: column;;
                min-height: max-content;
                max-height: calc(100vh - 10px);
            }

            &.mood.mood_ {
                &ko {
                    --icon-color: var(--color--3);
                    color: var(--color--3);
                    background-color: var(--color--ko);
                }
            }

            &.type_ {
                &toast {
                    max-height: 30vh;
                    bottom: 0;
                }

                &screen {
                    min-width: 20vw;
                    width: 400px;
                }
            }
        }
    }
}