
.app-container.im {
  width: 100vw;
  
  .im-list-item {
    display: flex;
    justify-content: center;
  }
  
  .application {
    margin: 10px 2%;
  }
  
  .man-checking * {
    vertical-align: middle;
  }
  
  .man-checkbox {
    margin: 0 7px;
  }
  
  input[type=checkbox] {
    vertical-align: middle;
  }
  
  .imperia-view_name {
    font-weight: bold;
  }
  
  .customw {
    overflow: hidden;
  }
  
  .imperia-view_separator {
    margin: 0 7px;
    color: #999;
  }
  
  .imperia-view_owner {
    color: #999;
  }
  
  .im-list {
    overflow: auto;
    max-height: 75vh;
    margin-top: 10px;
  }
}





