.chord-application-redactor {
    .composition-line {
        display: inline;
    }

    .binder {
        display: inline-block;
        width: 1em;
        height: 1em;
        background-color: var(--color--2);
        vertical-align: middle;
        cursor: pointer;

        &.active {
            background-color: var(--color--3);
        }

        &.pre {
            margin-right: 0.3em;
        }

        &.post {
            margin-left: 0.3em;
        }
    }

    .com-letter {
        cursor: pointer;

        &:hover {
            background-color: var(--color--2);
        }

        &.chorded:not(.pre) {

            >.fragment>* {
                display: inline-block;
            }

            &:first-letter,
            &.spaced-word:after,
            &[attr-chord]>.fragment>*:first-letter {
                background-color: rgba(255, 209, 0, .3);
            }
        }
    }
}