#qr-code-application-container {
    .qr-code-screen {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        background-color: var(--current-bg);
        opacity: 0;
        transition: opacity .5s;
        z-index: 10000000;

        &.open-reader,
        &.open-slider {
            display: flex;
            opacity: .9;
        }

        .qr-container {
            position: relative;

            &.external {
                .link-anchor {
                    position: absolute;
                    right: 0;
                }
            }

            &.internal {

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--color--7);
                    opacity: .5;
                }
            }
        }

        .qr-code {
            width: 90vmin;
        }
    }
}