<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*?bomba\.php.*?)$ $1 [L]
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* /index.html [L]
</ifModule>






# Заголовок Cache-Control
#<IfModule mod_headers.c>
#        Header append Cache-Control "public"
#</IfModule>

# Header set Access-Control-Allow-Origin "*"
# Header set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
 
# Заголовок Expires
# <IfModule mod_expires.c>
#         ExpiresActive On ExpiresDefault "access plus 1 hours"
# </IfModule>

#Options -Indexes +ExecCGI
#AddHandler cgi-script .py
# DirectoryIndex run.py

#CharsetDisable On
#AddDefaultCharset UTF-8

# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !/run.py

# RewriteCond %{ENV:HTTPS} !on
# RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteRule \.js(on)? /blocked...page [L]
#RewriteRule ^S/x\.py /blocked...page [L]
#RewriteRule ^@((cm|index|br|exb|alias|im|bible).*)$ /S/x.py?x=$1 [L]
#RewriteRule ^$ /S/x.py?x=index [L]
#RewriteRule ^auth.json$ /blocked...page [L]

# RewriteRule restart_outputs

#RewriteRule ^requirements(\+?(.+))?$ /S/load-requirements.php?with=$2 [L]

# RewriteRule ^bonjour /not-found [L]
# RewriteRule ^application(.*)?$ /index.html$1 [L]

# RewriteRule ^.{32}/.{32}$ / [L,R=404]

# RewriteRule ^(debug/)?users(/(\w{32}))?$ /S/users-listo.php?user=$3 [L]

# RewriteRule ^debug/initial_script$ /S/index.js?isDebug=1
# RewriteRule ^initial_script$ /release/S/index.js

# RewriteRule ^debug/auth-(s|url)$ /S/s-auth.php [L]
# RewriteRule ^auth-(s|url)$ /release/S/s-auth.php [L]

# RewriteRule ^debug/auth$ /S/auth-me.php?isDebug=1 [L]
# RewriteRule ^auth$ /release/S/auth-me.php [L]

# RewriteRule ^debug/execute$ /S/execute-tracks.php?isDebug=1 [L]
# RewriteRule ^execute$ /release/S/execute-tracks.php [L]

# RewriteRule ^(debug/)?messanger$ /S/messanger.json [L]

# RewriteRule ^debug/helper/(\w+)/(\w+)$ /S/help-me.php?app=$1&id=$2 [L]
# RewriteRule ^helper/(\w+)/(\w+)$ /S/help-me.php?app=$1&id=$2 [L]

# RewriteRule ^debug/updates(.*)$ /S/requirements.php$1 [L]
# RewriteRule ^updates(.*)$ /release/S/requirements.php$1 [L]
