.brutal-item {
    --brutal-item-height: 60px;
    --brutal-item-gap-v: 7px;

    border-radius: 10px;
    background-color: var(--color-1);
    width: 100%;
    height: var(--brutal-item-height);
    cursor: pointer;

    +.brutal-item {
        margin-top: var(--brutal-item-gap-v);
    }
}

