.translation-container {
  --radius: 20px;
  --size: 50vmin;
  --max-size: 300px;
  --min-size: 200px;

  position: relative;
  z-index: 300;

  &.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
  }

  .translation-screen-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: var(--size);
    min-width: var(--min-size);
    max-width: var(--max-size);
    height: var(--size);
    min-height: var(--min-size);
    max-height: var(--max-size);

    .translation-screen-wrapper-inner {
      cursor: pointer;
      border: solid 1px transparent;
      border-radius: var(--radius);
      background: black;
      width: 100%;
      height: 100%;
      overflow: hidden;
      color: var(--color-far);
      font-size: 14px;
      user-select: none;
      white-space: pre;

      &.active {
        border-color: var(--color-far);
      }
    }
  }

  .translation-com-list {
    width: 50%;
    height: var(--size);
    min-height: var(--min-size);
    max-height: var(--max-size);
    overflow-x: hidden;
    overflow-y: auto;

    .face-item.current {
      font-weight: bold;
    }
  }

  &:not(.top).center {
    .translations-line {
      .translations-line-item {
        .translations-line-item-inner {
          align-items: center;
        }
      }
    }
  }

  .translations-line {
    display: flex;
    margin: 1em 0;
    border-radius: var(--radius);
    background: black;
    padding: 1em 0;
    overflow: auto;
    scroll-snap-type: x mandatory;
    color: white;
    white-space: nowrap;

    .translations-line-item {
      margin: 0 7px;
      scroll-snap-align: center;

      .translations-line-item-inner {
        display: flex;
        cursor: pointer;
        border: solid 1px transparent;
        background: black;
        padding: 5px;
        height: calc(100% - 1.5em);
        overflow: hidden;
        color: var(--color-far);
        font-size: 14px;
        user-select: none;
        text-align: center;
        white-space: pre;

        &.active {
          border-color: var(--color-far);
        }
      }
    }
  }

  .control-panel {
    > .button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 15px;
      background-color: var(--color--1);
      width: 100%;
      height: 30px;
      color: var(--color--4);

      &.center {
        min-width: 40vw;
      }

      + .button {
        margin-left: 10px;
      }
    }

    > .start-translation {
      --icon-color: var(--color--5);

      background-color: var(--color--7);
    }
  }

  .fullscreen-translation {
    --safe-gap: 50px;
    --block-height: 40%;
    --center-width: 20%;
    --half-safe-gap: calc(var(--safe-gap) / 3);
    --block-width: calc((100% - var(--safe-gap) * 2 - var(--center-width)) / 2);
    --center-left: calc(var(--safe-gap) + var(--block-width));
    z-index: 1000;
    transition: transform 0.1s;

    background: black;
    width: 100vw;
    height: 100vh;
    color: white;

    &.rotate-fullscreen-translation {
      transform: rotate(90deg);
      width: 100vh;
      height: 100vw;

      .translation-screen-wrapper-inner {
        width: 100vh !important;
        height: 100vw !important;
      }
    }

    &.open-info {
      --first-bg: #999;
      --second-bg: grey;

      .close-info-button {
        opacity: 1;
        pointer-events: all;
      }

      .open-info-button {
        opacity: 0;
      }

      .translation-screen-wrapper-inner {
        filter: blur(5px);
      }

      > .info-area {
        color: white;
      }

      > .center-area {
        &.top {
          --gradient-color: var(--first-bg);
          background: repeating-linear-gradient(
            -60deg,
            var(--gradient-color) 0,
            var(--gradient-color) 1px,
            transparent 1px,
            transparent 5px
          );
        }

        &.bottom {
          --gradient-color: var(--second-bg);
          background: repeating-linear-gradient(
            -60deg,
            var(--gradient-color) 0,
            var(--gradient-color) 1px,
            transparent 1px,
            transparent 5px
          );
        }
      }

      > .top-area {
        --gradient-color: var(--second-bg);
        background: repeating-linear-gradient(
          -60deg,
          var(--gradient-color) 0,
          var(--gradient-color) 1px,
          transparent 1px,
          transparent 5px
        );
      }

      > .bottom-area {
        --gradient-color: var(--first-bg);
        background: repeating-linear-gradient(
          -60deg,
          var(--gradient-color) 0,
          var(--gradient-color) 1px,
          transparent 1px,
          transparent 5px
        );
      }
    }

    .translation-screen-wrapper-inner {
      transition: filter 0.2s;
    }

    .close-info-button {
      position: absolute;
      top: var(--half-safe-gap);
      right: var(--half-safe-gap);
      opacity: 0;
      cursor: pointer;
      pointer-events: none;
    }

    .open-info-button {
      opacity: 1;
      transition: opacity 0.4s;
    }

    > .info-area {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #0000;
      text-align: center;
    }

    > .bottom-area,
    > .top-area {
      position: absolute;
      width: var(--block-width);
      height: var(--block-height);

      &.left {
        left: var(--safe-gap);
      }

      &.right {
        right: var(--safe-gap);
      }
    }

    > .top-area {
      top: var(--safe-gap);
    }

    > .bottom-area {
      bottom: var(--safe-gap);
    }

    > .center-area {
      --over-position: calc(0px - var(--safe-gap) * 4);
      --active-position: calc(0px - var(--safe-gap) / 2.5);
      --active-second-position: calc(var(--safe-gap) / 1.5);

      position: absolute;
      left: var(--center-left);
      width: var(--center-width);
      height: var(--block-height);

      &.top {
        top: var(--safe-gap);

        .area-button {
          top: var(--over-position);

          &.show {
            top: var(--active-position);

            &.second {
              top: var(--active-second-position);
            }
          }
        }
      }

      &.bottom {
        bottom: var(--safe-gap);

        .area-button {
          bottom: var(--over-position);

          &.show {
            bottom: var(--active-position);
          }
        }
      }

      .area-button {
        position: absolute;
        left: calc(50% - 24px / 2);
        z-index: 10000;
        transition:
          top 0.4s,
          bottom 0.4s;
        cursor: pointer;

        &.second {
          transition:
            top 0.5s,
            bottom 0.5s,
            opacity 0.2s;
        }
      }
    }
  }
}
