.keyboard-flash {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1000000000000;
  transition: height 0.2s;
  background: var(--keyboard-flash-background);
  width: 100%;
  height: 0;
  overflow: hidden;
  pointer-events: none;

  &.active {
    animation: pointer-events-on 1s forwards;
    height: var(--keyboard-flash-height);
  }

  &.more-open {
    > .keyboard-flash-line {
      &.bottom-line {
        > .keyboard-flash-key:not(.more-box):not(.undo-action) {
          opacity: 0.5;
          filter: blur(5px);
          pointer-events: none;
        }
      }

      &:not(.bottom-line) {
        opacity: 0.5;
        filter: blur(5px);
        pointer-events: none;
      }
    }
  }

  > .keyboard-flash-line {
    display: flex;
    justify-content: space-around;
    height: 100%;

    &.number-type {
      margin: auto;
      width: 100%;
      min-width: 200px;
      max-width: 90%;
    }

    &:not(.bottom-line) {
      > .keyboard-flash-key:not(.writable) {
        min-width: 35px;
      }
    }

    .keyboard-flash-key {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.2em;
      padding: 0.2em;
      width: 2.3em;
      height: 2.6em;

      @media screen and (max-width: 350px) {
        min-width: 1em;
      }

      @media screen and (min-width: 351px) {
        min-width: 1.5em;
      }

      &.more-box {
        position: relative;

        > .keyboard-flash-key-more-box-list {
          position: absolute;
          bottom: 2.6em;
          left: 0;
          width: 70vw;
          max-height: calc(var(--keyboard-flash-height) - 50px);
          overflow-x: visible;
          overflow-y: auto;

          > .keyboard-flash-key-more-box-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .key-description {
              position: absolute;
              left: 2.3em;
              white-space: nowrap;
            }
          }
        }
      }

      > .key-button {
        border-radius: 0.2em;
        background: var(--keyboard-flash-tool-button-background);
        padding: 0.2em;
      }

      &.shift-key {
        position: relative;

        > .key-button {
          opacity: 1;
        }

        &.caps-lock > .key-button {
          opacity: 0.5;
        }

        &.is-control-key-label:before {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 1;
          content: 'ctrl';
          font-size: 0.5em;
        }
      }

      &.writable {
        height: 100%;

        &:not(.self-width) {
          width: 100%;
        }
      }

      &:not(.writable) {
        &.key-in-fix {
          opacity: 0.5;
        }
      }

      &.key-in-fix {
        background: var(--keyboard-flash-tool-button-background);
      }

      &.space-key {
        width: 50%;

        > * {
          border-radius: 0.2em;
          background: var(--keyboard-flash-tool-button-background);
          padding: 0.2em;
          width: 100%;
          height: 30px;
        }
      }
    }
  }
}

.input-keyboard-flash-controlled {
  --cursor-animation: cursor 0.4s infinite alternate-reverse;
  --cursor-border-color: transparent;
  --cursor-border: 1px solid var(--cursor-border-color);

  position: relative;
  width: 100%;
  text-align: inherit;

  .input {
    background-color: var(--input-keyboard-background);
    padding-left: 3px;
    text-align: inherit;
  }

  &:not(.with-native-input) {
    padding-right: 30px;
  }

  .native-input {
    padding-right: 30px;
    width: 100%;
    height: 100%;
    resize: none;
    color: var(--color--3);
    text-align: inherit;

    &::placeholder {
      color: var(--color--4);
    }
  }

  &.multiline {
    overflow: hidden;

    .input-keyboard-flash-controlled-char-list {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      .input-keyboard-flash-controlled-char-list-inner {
        white-space: pre-line;
      }
    }
  }

  &:not(.multiline) {
    height: 1.6em;

    .native-input {
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .input-keyboard-flash-controlled-char-list {
      height: 1.3em;
      overflow-x: auto;
      overflow-y: hidden;

      .input-keyboard-flash-controlled-char-list-inner {
        white-space: nowrap;
      }
    }
  }

  &.without-close-button {
    padding-right: 0;

    .native-input {
      padding-right: 2px;
    }

    .icon-button-container > .close-button {
      display: none;
    }

    .input-keyboard-flash-controlled-char-list {
      max-width: 100%;
    }
  }

  &.empty-input {
    &.no-lines {
      .input-keyboard-flash-controlled-char-list {
        border-left: var(--cursor-border);
        height: 1.3em;

        .input-keyboard-flash-controlled-char-list-line {
          height: 1.3em;
        }
      }
    }

    &:before {
      position: absolute;
      opacity: 0.7;
      pointer-events: none;
      content: attr(attr-placeholder);
      white-space: nowrap;
    }

    .icon-button-container > .close-button {
      display: none;
    }
  }

  &.stable-cursor-mode {
    --cursor-animation: none;

    &.empty-input {
      &.no-lines {
        .input-keyboard-flash-controlled-char-list {
          border-color: var(--keyboard-flash-color);
        }
      }
    }

    .input-keyboard-flash-controlled-char-list {
      .input-keyboard-flash-controlled-char-list-inner {
        .input-keyboard-flash-controlled-char-list-line {
          &.zero-cursor {
            border-color: var(--keyboard-flash-color);
          }

          .input-keyboard-flash-controlled-char {
            &.cursor {
              border-color: var(--keyboard-flash-color);
            }
          }
        }
      }
    }
  }

  &.focused {
    &.empty-input {
      &.no-lines {
        .input-keyboard-flash-controlled-char-list {
          animation: var(--cursor-animation);
        }
      }
    }

    .input-keyboard-flash-controlled-char-list {
      .input-keyboard-flash-controlled-char-list-inner {
        .input-keyboard-flash-controlled-char-list-line {
          &.zero-cursor {
            animation: var(--cursor-animation);
          }

          .input-keyboard-flash-controlled-char {
            &.cursor {
              animation: var(--cursor-animation);
            }
          }
        }
      }
    }
  }

  > .menu-actions-with-selected {
    display: flex;
    position: absolute;
    bottom: -2.3em;
    z-index: 10000000;
    transition: opacity 0.2s;
    border-radius: 0 0.5em 0.5em 0.5em;
    background: var(--keyboard-flash-selected-background);
    padding: 0 0.3em;
    color: var(--keyboard-flash-selected-color);
    font-size: 0.7em;

    > * {
      padding: 0.3em;

      &:not(:last-child):after {
        display: inline-block;
        position: absolute;
        top: 0.4em;
        margin-left: 3px;
        border-left: solid 1px var(--keyboard-flash-selected-color);
        height: 1.2em;
        content: '';
      }
    }
  }

  .input-keyboard-flash-controlled-char-list {
    &::-webkit-scrollbar {
      display: none;
    }

    .input-keyboard-flash-controlled-char-list-inner {
      padding-bottom: 3px;
      padding-left: 3px;
      white-space: nowrap;

      .input-keyboard-flash-controlled-char-list-line {
        border-left: var(--cursor-border);
        min-height: 1.4em;

        .input-keyboard-flash-controlled-char {
          display: inline-block;
          position: relative;
          vertical-align: bottom;
          margin-left: -1px;
          border-right: var(--cursor-border);
          min-width: 0.2em;
          min-height: 1.3em;
          white-space: pre;

          &.newline-char {
            display: block;
            height: 0;
          }

          &:before {
            display: inline-block;
            position: absolute;
            left: -0.2em;
            width: 0.5em;
            height: 1.4em;
            content: '';
          }

          &:first-child {
            padding-left: 0;
          }

          &.selected {
            background: var(--keyboard-flash-selected-background);
            color: var(--keyboard-flash-selected-color);
          }
        }
      }
    }
  }

  > .icon-button-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    height: 100%;
  }
}

@keyframes cursor {
  from {
    border-color: var(--keyboard-flash-color);
  }

  to {
    border-color: transparent;
  }
}

@keyframes pointer-events-on {
  from {
    pointer-events: none;
  }

  to {
    pointer-events: all;
  }
}
