.fullscreen-content-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    z-index: 160;


    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .full-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--current-bg);
    }
}