.chord-board {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border-radius: 10px;
  background-color: var(--color--2);

  .chord-zero-line {
    fill: none;
    stroke: var(--color--1);
    stroke-width: 10px;
  }

  .chord-string {
    fill: none;
    stroke: var(--color--3);
    pointer-events: none;
  }

  .chord-lad {
    fill: none;
    stroke: var(--color--4);
    stroke-width: 2px;
  }

  .chord-lad-mark {
    stroke-linecap: round;
    fill: none;
    stroke: var(--color--4);
    stroke-width: 5px;
  }

  .chord-lad-number {
    font-weight: bolder;
    font-size: 30px;
    fill: var(--color--3);
    opacity: 0.3;
  }

  .mute-string-indicator {
    font-size: 15px;
    stroke: var(--color--3);
  }

  .chord-point {
    stroke-linecap: round;
    stroke-width: 12px;
    stroke: var(--color--7);
  }

  .first-lad-counter {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    font-size: 1em;
  }
}
