.application-container {
    --main-gap: 8px;
    --main-big-gap: 18px;
    --header-padding-top: 23px;
    --header-padding: var(--header-padding-top) var(--main-gap) var(--main-gap) var(--main-gap);
    --header-content-height: 50px;
    --footer-height: 70px;
    --fullscreen-transition: top .3s, bottom .3s, height .3s, margin-top .3s;
    --header-top: 0;
    --header-height: calc(var(--header-padding-top) + var(--header-content-height));
    --footer-bottom: 0;
    --content-height: calc(100vh - var(--header-height) - var(--footer-height));
    --content-top: var(--header-content-height);

    background-color: var(--current-bg);
    font-family: var(--font-family);
    color: var(--text-color);

    .main-big-gap {
      margin: var(--main-big-gap);
    }

    .collapse-fullscreen-button {
        position: absolute;
        top: -30px;
        right: 0;
        margin: 10px;
        transition: top .2s;
        z-index: 50;
    }

    &.fullscreen-mode {
        --header-top: calc(0px - var(--header-height));
        --header-container-top: calc(0px - var(--header-content-height));
        --footer-bottom: calc(0px - var(--footer-height));
        --content-height: 100vh;
        --content-top: 0;

        .collapse-fullscreen-button {
            top: 0;
        }
    }

    >.footer {
        position: absolute;
        bottom: var(--footer-bottom);
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color--1);
        height: var(--footer-height);
        transition: var(--fullscreen-transition);

        >.footer-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 25%;
            cursor: pointer;

            >.icon-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 30px;
                border-radius: 30px;
                transition: width .1s, background-color .05s;
            }

            &.active {
                >.icon-container {
                    width: 50px;
                    background-color: var(--color--2);
                    color: var(--color--3);
                }
            }
        }
    }
}