.phase-container.cat-content {
    .list-title {
        cursor: ns-resize;
    }
    
    >.content {
        padding-top: 0;
    }

    .later-com-list {
        &.hidden {
            display: none;
        }
    }
}