.phase-container.cat-content {
    .category-title,
    .later-title {
        background-color: var(--current-bg);
        padding: var(--main-gap);
    }
    
    >.content {
        padding-top: 0;
    }

    .later-com-list {
        &.hidden {
            display: none;
        }
    }
}