.template-page-content {
  .human-heap {
    border: dotted 1px var(--text-color);
    margin: 20px 0;
  }
}

.print-template-page.full-container {
  background-color: white;
  color: black;

  .tpl-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .tpl-subtitle {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
  }
}

.simple-border {
  border: solid 1px var(--text-color);
}

.page-break-after-always {
  page-break-after: always;
}
