.ScheduleWidgetDay {
  &:not(.past) {
    margin-top: 50px;
  }

  &.past {
    filter: grayscale(0.7);

    > .day-title {
      opacity: 0.5;
      font-size: 1.1rem;
    }
  }

  > .day-title {
    top: -10px;
    background-color: var(--color--5);
    color: var(--color--3);
    font-weight: bold;
    font-size: 1.5rem;
  }

  > .edit-day-panel {
    z-index: 2;
  }

  > .day-info {
    margin: 1rem 0;

    .day-topic {
      color: var(--color--7);
      font-size: 1.2rem;
    }

    .day-description {
      color: var(--color--3);
      font-size: 0.9rem;
    }
  }

  > .schedule-widget-day-event-list {
    &.redact {
      .day-event-wrapper {
        margin-bottom: 40px;

        .insert-panel {
          bottom: -30px;
        }

        &.first {
          margin-top: 40px;

          .insert-panel.first {
            top: -30px;
          }
        }

        &.neighbour {
          margin-bottom: 0.3rem;

          &:not(.first),
          &.move-me {
            margin-top: 0.3rem;

            .insert-panel {
              opacity: 0;
            }
          }

          .insert-panel:not(.first) {
            opacity: 0;
          }
        }

        .day-event {
          .edit-button {
            display: inline-block;
            transition: none;
            margin-right: -40px;
            width: 0;
            overflow: hidden;
          }
        }
      }
    }

    &.event-movement {
      .day-event-wrapper {
        > .insert-panel {
          right: 100px;
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &.individual-replacement {
      .day-event-wrapper {
        > .insert-panel {
          right: 10px;
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    .day-event-wrapper {
      position: relative;
      transition:
        margin-bottom 0.2s,
        margin-top 0.2s,
        opacity 0.7s;
      margin: 0.3rem 0;

      &.move-me {
        opacity: 0.5;
        cursor: pointer;
      }

      > .insert-panel {
        position: absolute;
        right: 70px;
        opacity: 0.5;
        transition:
          height 0.7s,
          opacity 0.2s,
          right 0.2s;
        height: 25px;
        overflow: hidden;
        pointer-events: none;
      }

      .day-event {
        border-radius: 0.5rem;
        background-color: var(--color--2);
        padding: 0.7rem;
        width: 100%;
        overflow: hidden;

        &.past {
          filter: grayscale(0.7);
        }

        .sign-line {
          opacity: 0.3;
          margin: 5px 0;
          background: var(--color--4);
          width: 100%;
          height: 1px;
        }

        .day-event-content {
          opacity: 0;
          animation: expand-content 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
          max-height: 0px;
          overflow: auto;
        }

        > .event-header {
          height: 1.2em;

          > .left-part {
            > .time-mark {
              width: 2.2rem;
              min-height: 1rem;
              font-size: 0.9rem;
            }
          }
        }

        .edit-button {
          transition: margin-right 0.2s;
        }
      }
    }
  }
}

.for-print {
  padding: 30px;
  font-size: 20px;

  .ScheduleWidgetDay {
    margin-top: 0;

    .day-title {
      margin-bottom: 30px;
      background-color: none;
      background: none;
    }

    * {
      color: black;
      font-size: 1rem;
      user-select: text;
    }

    .hide-on-print {
      display: none;
    }

    .not-printable {
      text-decoration: line-through;
    }

    .schedule-widget-day-event-list .day-event-wrapper .day-event {
      background: none;
      background-color: none;
      padding: 0;
    }
  }
}

@media print {
  .for-print {
    .ScheduleWidgetDay {
      .not-printable {
        display: none;
      }
    }
  }
}

.event-rating-display {
  width: 1.5em;
  text-align: center;
}

.movement-here-title {
  max-width: calc(100vw - 180px);
}

@keyframes expand-content {
  0% {
    opacity: 0;
    max-height: 0px;
  }

  90% {
    opacity: 1;
    max-height: 100vh;
  }

  100% {
    opacity: 1;
    max-height: 900vh;
  }
}
