.bible-translation-screen-content {
  insertedtext {
    opacity: var(--insertedtext-opacity, 0.7);
    display: var(--insertedtext-display, initial);
    color: var(--insertedtext-color, inherit);
    font-style: var(--insertedtext-fontStyle, inherit);
  }

  textinbrackets {
    opacity: var(--textinbrackets-opacity, 1);
    display: var(--textinbrackets-display, initial);
    color: var(--textinbrackets-color, inherit);
    font-style: var(--textinbrackets-fontStyle, inherit);
  }
}
