.bible {
 display: flex;
 height: 600px;
}

.stock {
 overflow-y: scroll;
 display: inline-block;
 padding: 7px;
 vertical-align: top;
}

.books.stock {
 background-color: #58aafc;
 color: white;
 max-width: 20%;
 min-width: 150px;
 user-select: none;
}

.books.stock > .book-button {
 margin: 2px 0;
 text-align: left;
 max-width: 100%;
 cursor: pointer;
 background-color: #2680d9;
 padding: .2em;
 border-radius: 5px;
}

.chapters.stock {
 background-color: #2680d9;
 color: white;
 width: 3em;
 min-width: 3em;
}

.chapters.stock > .chapter-button {
 display: inline-block;
 background-color: #58aafc;
 color: white;
 width: 100%;
 cursor: pointer;
 padding: .2em;
 border-radius: 5px;
 margin: 2px 0;
 width: 2em;
 text-align: center;
}

.stock > .button {
 border: solid 1px rgba(0,0,0,0);
}
.stock > .button.active {
 border: solid 1px #fff;
}

.text.stock {
 background-color: #e6f3f9;
 flex: 1;
 padding-left: 2.5em;
 min-width: 350px;
}

::-webkit-scrollbar {
 width: 7px;
}
::-webkit-scrollbar-thumb {
 border-width:1px 1px 1px 2px;
 border-color: #777;
 background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover {
 border-width: 1px 1px 1px 2px;
 border-color: #555;
 background-color: #777;
}
::-webkit-scrollbar-track {
 border-width:0;
}
::-webkit-scrollbar-track:hover {
 border-left: solid 1px #aaa;
 background-color: #eee;
}