
.app-container.exb {
  --color-light-1: white;
  --color-base-1: #eae29e;
  --color-base-2: #b4a15b;
  --color-base-3: #514500;
 
  --color-pink: #f47d73;
  --color-black: #4a575c;
  --color-red: #933a3a;
  --color-pink: #f47d73;
  --color-green: #19845d;
  --color-bgrey: #e9e7eb;
  --color-grey: #666666;
  --color-lgrey: #f5f3f8;
  
  --color-brown_dark: #514500;
  --color-brown: #B4A15B;
  --color-brown_light: #EAE29E;

  --color-invalid: #E91F66;
  --color-invalid_1: #FFFADF;

 
  --between-mgroped: .5px;
  --opacity-default: .80;
  --opacity-active: .99;
  --size-font-base: 20px;
  --radius-border-1-3: 5px;
  --radius-border-2-4: 5px;


  background-color: var(--color-brown_light);
  font-family: main;


  
  .root {
    width: 700px;
    margin: 15px auto;
    padding: 10px
  }
  
  
  .root.pink {
    border: solid var(--color-pink) 5px;
  }
  
  .root.grey {
    border: solid var(--color-grey) 5px;
  }
  
  .root.green {
    border: solid var(--color-green) 5px;
  }
  
  
  
  
  .checkbox {
    border-radius: 10%;
  }
  
  .radio {
    border-radius: 50%;
  }
  
  .checkbox, .radio {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    border: solid 1px $brown;
  }
  
  .checkbox:not(.checked),
  .radio:not(.checked) {
    background-color: var(--color-brown_light);
  }
  
  .checkbox.checked,
  .radio.checked {
    background-color: var(--color-brown_dark);
  }
  
  
  .checkbox.disabled,
  .radio.disabled {
    filter: grayscale(1);
  }
  
  .checkbox:not(.disabled).correct,
  .radio:not(.disabled).correct {
  
    background-color: green;
  }
  
  .question-variant {
    margin: 1em 0;
  }
  
  .question-variant.correct {
    color: green;
  }
  
  .question-variant.incorrect {
    color: red;
  }
  
}










