.print-template-page.full-container {
  background-color: white;
  color: black;
}

.adaptation-page {
  padding: 40px;
  height: 1127px;

  .tpl-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .table-wrapper {
    display: flex;
    justify-content: center;

    > .table {
        --table-size: 500px;
      width: var(--table-size);
      border: solid black 1px;

      > .row {
        display: flex;

        > .cell {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--table-size) / 2);
          height: calc(var(--table-size) / 2);
          border: solid black 1px;
          color: grey;

          .qr-code {
            width: calc(100% - 10px);
          }
        }
      }
    }
  }
}
