.leader-comment-block {
  .comment {
    --radius: 10px;
    padding: 10px;
    background-color: var(--color--7);
    color: var(--color--2);
    white-space: pre-line;

    &.first {
      border-top-left-radius: var(--radius);
      border-top-right-radius: var(--radius);
    }

    &.last {
      border-bottom-right-radius: var(--radius);
    }
  }
}
