.schedule-widget {
    padding: 5px;

    >.schedule-widget-day {
        margin: 20px 0;

        >.day-title {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--color--3);
        }

        >.day-info {
            margin: 1rem 0;

            .day-topic {
                font-size: 1.2rem;
                color: var(--color--7);
            }

            .day-description {
                font-size: .9rem;
                color: var(--color--3);
            }
        }

        >.schedule-widget-day-event-list {
            &.redact {
                .day-event-wrapper {
                    margin-bottom: 40px;

                    .insert-panel {
                        bottom: -30px;
                    }

                    &.first {
                        margin-top: 40px;

                        .insert-panel.first {
                            top: -30px;
                        }
                    }

                    &.neighbour {
                        margin-bottom: .3rem;

                        &:not(.first),
                        &.move-me {
                            margin-top: .3rem;

                            .insert-panel {
                                opacity: 0;
                            }
                        }

                        .insert-panel:not(.first) {
                            opacity: 0;
                        }
                    }

                    .day-event {
                        .edit-button {
                            margin-right: -40px;
                            width: 0;
                            overflow: hidden;
                            display: inline-block;
                            transition: none;
                        }
                    }
                }
            }

            &.event-movement {
                .day-event-wrapper {
                    >.insert-panel {
                        opacity: 1;
                        right: 100px;
                        pointer-events: all;
                    }
                }
            }

            .day-event-wrapper {
                position: relative;
                margin: .3rem 0;
                transition: margin-bottom .2s, margin-top .2s, opacity .2s;

                &.move-me {
                    opacity: .5;
                    cursor: pointer;
                }

                // &.movable-event-neighbour:not(.first) {
                //     >.insert-panel:not(.first) {
                //         height: 0;
                //     }
                // }

                >.insert-panel {
                    position: absolute;
                    height: 25px;
                    overflow: hidden;
                    right: 70px;
                    transition: height .2s, opacity .2s, right .2s;
                    opacity: .5;
                    pointer-events: none;
                }

                .day-event {
                    background-color: var(--color--2);
                    padding: .7rem;
                    border-radius: .5rem;
                    width: 100%;
                    overflow: hidden;


                    &.expand {
                        .day-event-content {
                            opacity: 1;
                            max-height: 1000vh;
                        }
                    }

                    >.item-header {
                        >.left-part {
                            >.time-mark {
                                width: 2.2rem;
                                min-height: 1rem;
                                font-size: .9rem;
                            }
                        }
                    }

                    .edit-button {
                        transition: margin-right .2s;
                    }

                    .day-event-content {
                        max-height: 0px;
                        opacity: 0;
                        overflow: hidden;
                        transition: opacity .2s, max-height .2s;
                    }
                }
            }
        }
    }
}


.schedule-event-type-select-item {
    background: var(--color--5);
    padding: 5px 15px;
    border-radius: 5px;
    margin: 7px 0;
}