.edit-container-corrects-informer {
  margin: var(--main-gap) 0;
  border: 1px solid transparent;

  > .corrects-container {
    > .correct-box {
      margin: 15px 0;
      border-radius: 10px;
      padding: 10px;
      white-space: pre-line;

      &.error {
        background-color: rgba(255, 0, 0, 0.3);
        color: red;
      }

      &.warning {
        background-color: rgba(255, 165, 0, 0.3);
        color: orange;
      }

      &.unknown {
        background-color: rgba(0, 255, 255, 0.3);
        color: cadetblue;
      }
    }

    .fix-button {
      cursor: pointer;
      margin-top: 15px;
      color: var(--text-color);
    }
  }
}
