body {
  --font-family: -apple-system, montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', main, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --input-keyboard-background: var(--color--1);

  --icon-color: var(--color--4);

  --icon-fill: var(--icon-color);
  --icon-stroke: var(--icon-color);
  --icon-stroke-width: 2;
  --icon-opacity: 0.4;
  --icon-size: 24px;
  --icon-scale: 1;

  --text-color: var(--color--4);
  --current-bg: var(--color--5);

  margin: 0;

  background-color: var(--current-bg);
  padding: 0;
  width: 100vw;
  height: 100%;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-family);

  #root {
    height: 100%;
    overflow: hidden;
  }

  * {
    -webkit-touch-callout: none;
  }
}

html,
body,
#root {
  overscroll-behavior: none;
}

.color--ok {
  --icon-color: var(--color--ok);
  color: var(--color--ok);
}

.color--ko {
  --icon-color: var(--color--ko);
  color: var(--color--ko);
}

.mood- {
  &for-2 {
    &.the-button {
      border-color: var(--color--1);
      color: var(--color--4);
    }

    .input-keyboard-flash-controlled {
      background-color: var(--color--1);
      color: var(--color--3);
    }
  }
}

@for $i from 1 through 8 {
  .color--#{$i} {
    --icon-color: var(--color--#{$i});
    color: var(--color--#{$i});
  }

  .bgcolor--#{$i} {
    background-color: var(--color--#{$i});
  }
}

.bgcolor--ko {
  background-color: var(--color--ko);
}

.bgcolor--white {
  background-color: white;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: none;
  scrollbar-gutter: stable;
}

.error-message {
  --icon-color: var(--color--ko);
  color: var(--color--ko);
}

.success-message {
  --icon-color: var(--color--ok);
  color: var(--color--ok);
}

input[type='radio'],
input[type='button'] {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.disabled,
:disabled {
  opacity: 0.5;

  &:not(.clickable) {
    pointer-events: none;
  }
}

:not(svg) {
  box-sizing: border-box;
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.white-pre {
  white-space: pre;

  &-line {
    white-space: pre-line;
  }

  &-wrap {
    white-space: pre-wrap;
  }

  &-children {
    > * {
      white-space: pre;
    }
  }
}

.bgcolor-black {
  background-color: black;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.hidden {
  visibility: hidden;
}

.over- {
  &hidden {
    overflow: hidden;
  }

  &x-hidden {
    overflow-x: hidden;
  }

  &y-hidden {
    overflow-y: hidden;
  }

  &visible {
    overflow: visible;
  }

  &x-visible {
    overflow-x: visible;
  }

  &y-visible {
    overflow-y: visible;
  }

  &auto {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  &x-auto {
    max-width: 100%;
    overflow-x: auto;
  }

  &y-auto {
    max-height: 100%;
    overflow-y: auto;
  }
}

.border-radius {
  border-radius: var(--main-gap);

  &-big {
    border-radius: var(--main-gap);
  }
}

.input,
input,
textarea {
  background-color: transparent;
  color: var(--text-color);
  font-size: 1em;
  font-family: var(--font-family);

  &::placeholder {
    color: var(--color--5);
  }
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.full-size,
.full-width {
  width: 100%;
}

.full-size,
.full-height {
  height: 100%;
}

.full-min-width {
  min-width: 100%;
}

.full-min-height {
  min-height: 100%;
}

.full-max-width {
  max-width: 100%;
}

.min-width-90 {
  min-width: 90%;
}

.full-max-height {
  max-height: 100%;
}

.half-height {
  height: 50%;
}

.bg-inherit {
  background: inherit;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-top {
  vertical-align: top;
}

.children-middle {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex,
.inline-flex {
  &.flex-max {
    width: max-content;
  }

  &.flex-gap {
    gap: var(--main-gap);
  }

  &.flex-big-gap {
    gap: var(--main-big-gap);
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-big-gap {
    gap: var(--main-big-gap);
  }

  &:not(.custom-align-items) {
    align-items: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }

  &.column {
    flex-direction: column;

    &-reverse {
      flex-direction: column-reverse;
    }
  }

  &.start {
    justify-content: start;
  }

  &.flex-end {
    justify-content: end;
  }

  &.flex-start {
    justify-content: flex-start;
  }
}

.self {
  &-start {
    align-self: self-start;
  }

  &-center {
    align-self: center;
  }
}

.text {
  &-strike {
    text-decoration: line-through;
  }

  &-underline {
    text-decoration: underline;
  }

  &-bold {
    font-weight: bold;
  }
}

.pointers-none {
  pointer-events: none;
}

.pointers-all {
  pointer-events: all;
}

.absolute {
  position: absolute;

  &.full-fill {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.relative {
  position: relative;
}

@for $i from 0 through 9 {
  .fade-0#{$i} {
    opacity: calc($i / 10);
  }
}

@for $i from 1 through 8 {
  .background-- {
    &#{$i} {
      background-color: var(--color--#{$i});
    }
  }

  .border-- {
    &#{$i} {
      border: solid 1px var(--color--#{$i});
    }
  }
}

.height-30vh {
  height: 30vh;

  &-strong {
    height: 30vh;
    min-height: 30vh;
    max-height: 30vh;
  }
}

@mixin strong-height($count) {
  .strong-height-#{$count} {
    height: $count;
    min-height: $count;
    max-height: $count;
  }
}

@mixin strong-width($count) {
  .strong-width-#{$count} {
    width: $count;
    min-width: $count;
    max-width: $count;
  }
}

@mixin strong-square($count) {
  .strong-square-#{$count} {
    width: $count;
    min-width: $count;
    max-width: $count;
    height: $count;
    min-height: $count;
    max-height: $count;
  }
}

@for $i from 0 through 200 {
  $value: $i * 5;

  [class~='z-index:#{$value}'] {
    z-index: $value;
  }
}

@for $i from 1 through 9 {
  @include strong-height(#{$i * 10}vmin);
  @include strong-height(#{$i * 10}vmax);

  @include strong-width(#{$i * 10}vmin);
  @include strong-width(#{$i * 10}vmax);

  @include strong-square(#{$i * 10}vmax);
  @include strong-square(#{$i * 10}vmin);
}

.min-height-30vh {
  min-height: 30vh;
}

.margin-auto {
  margin: auto;
}

.absolute,
.relative {
  &.pos- {
    &bottom,
    &sea,
    &all {
      bottom: 0;

      &-over {
        bottom: -100%;
      }
    }

    &top,
    &ski,
    &all {
      top: 0;
    }

    &left,
    &ski,
    &sea,
    &all {
      left: 0;
    }

    &right,
    &ski,
    &sea,
    &all {
      right: 0;
    }
  }
}

.float- {
  &left {
    float: left;
  }

  &right {
    float: right;
  }
}

.non-overscroll {
  overscroll-behavior: none;
}

.pointer,
.pointer-children > * {
  cursor: pointer;
}

.text-height-block {
  height: 1.3em;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inactive {
  opacity: 0.7;
}

[class~='font-size:0.7em'] {
  font-size: 0.7em;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
  background-color: darkgrey;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-resize {
  resize: none;
}

:not(.user-select) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-select {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.user-select-all {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.for-print {
  &.canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    overflow: auto;

    @media print {
      overflow: visible;
    }
  }

  &.print-as-a4 {
    page-break-inside: avoid;
    height: 29.7cm;
  }

  &.break-inside-avoid {
    page-break-inside: avoid;
  }
}

.strong-size {
  --size: 1em;

  width: var(--size);
  min-width: var(--size);
  max-width: var(--size);
  height: var(--size);
  min-height: var(--size);
  max-height: var(--size);
}

@font-face {
  src: url(./resource/avenir-next.ttf);
  font-family: main;
}

.text- {
  &center {
    text-align: center;
  }

  &right {
    text-align: right;
  }

  &italic {
    font-style: italic;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  --autofill-background-color: var(--color--2);
  --autofill-color: var(--text-color);

  box-shadow: 0 0 0 30px var(--autofill-background-color) inset !important;
  -webkit-text-fill-color: var(--autofill-color);
  font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

html,
body {
  > #telegram-login-jesmylbot {
    display: none;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}
