body {
  --font-family: -apple-system, montserrat, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", main, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --input-keyboard-background: var(--color--1);

  --color--1: #242a26;
  --color--2: #3b4b40;
  --color--3: #d5e6d6;
  --color--4: #b2b9b1;
  --color--5: #1a1c19;
  --color--6: #d3e5d7;
  --color--7: #b5f2c8;
  --color--8: var(--color--5);
  --color--ko: #ec6969;
  --color--ok: #9bec69;
}

body {
  --icon-color: var(--color--4);
  --text-color: var(--color--4);
  --current-bg: var(--color--5);

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-size: 16px;

  background-color: var(--current-bg);
  font-family: var(--font-family);
  color: var(--text-color);

  &.light-theme {
    --color--1: #eaf1e9;
    --color--2: #d5e8d5;
    --color--3: #122217;
    --color--4: #414840;
    --color--5: #fbfdf8;
    --color--6: #f8fbf4;
    --color--7: #336a4a;
    --color--8: #fbfdf8;
    --color--ok: #47bb00;
  }

  #root {
    height: 100%;
    overflow: hidden;
  }

  * {
    -webkit-touch-callout: none;
  }
}


.color--ok {
  --icon-color: var(--color--ok);
  color: var(--color--ok);
}

.color--ko {
  --icon-color: var(--color--ko);
  color: var(--color--ko);
}

.mood- {
  &for-2 {
    &.the-button {
      border-color: var(--color--1);
      color: var(--color--4);
    }

    .input-keyboard-flash-controlled {
      background-color: var(--color--1);
      color: var(--color--3);
    }
  }
}

@for $i from 1 through 8 {
  .color--#{$i} {
    --icon-color: var(--color--#{$i});
    color: var(--color--#{$i});
  }

  .bgcolor--#{$i} {
    background-color: var(--color--#{$i});
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: none;
}

.error-message {
  --icon-color: var(--color--ko);
  color: var(--color--ko);
}

.success-message {
  --icon-color: var(--color--ok);
  color: var(--color--ok);
}

input[type="radio"],
input[type="button"] {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.disabled,
:disabled {
  opacity: 0.5;

  &.clickable {
    cursor: inherit;
  }

  &:not(.clickable) {
    pointer-events: none;
  }
}

:not(svg) {
  box-sizing: border-box;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-break: break-word;
}

.white-pre {
  white-space: pre;

  &-line {
    white-space: pre-line;
  }

  &-wrap {
    white-space: pre-wrap;
  }
}

.hidden {
  visibility: hidden;
}

.over- {
  &hidden {
    overflow: hidden;
  }

  &x-hidden {
    overflow-x: hidden;
  }

  &y-hidden {
    overflow-y: hidden;
  }

  &auto {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  &x-auto {
    max-width: 100%;
    overflow-x: auto;
  }

  &y-auto {
    max-height: 100%;
    overflow-y: auto;
  }
}

.border-radius {
  border-radius: var(--main-gap);

  &-big {
    border-radius: var(--main-gap);
  }
}

.input,
input,
textarea {
  font-size: 1em;
  font-family: var(--font-family);
  background-color: transparent;
  color: var(--text-color);

  &::placeholder {
    color: var(--color--5);
  }
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-min-width {
  min-width: 100%;
}

.full-min-height {
  min-height: 100%;
}

.full-max-width {
  max-width: 100%;
}

.min-width-90 {
  min-width: 90%;
}

.full-max-height {
  max-height: 100%;
}

.half-height {
  height: 50%;
}

.bg-inherit {
  background: inherit;
}

.vertical-middle {
  vertical-align: middle;
}

.flex {
  display: flex;

  &.flex-max {
    width: max-content;
  }

  &.flex-gap {
    gap: var(--main-gap);
  }

  &.flex-big-gap {
    gap: var(--main-big-gap);
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-big-gap {
    gap: var(--main-big-gap);
  }

  &:not(.custom-align-items) {
    align-items: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.start {
    justify-content: start;
  }

  &.flex-end {
    justify-content: end;
  }

  &.flex-start {
    justify-content: flex-start;
  }
}

.self-start {
  align-self: self-start;
}

.after-margin-space {
  margin-right: 0.2em;
}

.children-middle {
  >* {
    display: inline-block;
    vertical-align: middle;
  }
}

.text {
  &-strike {
    text-decoration: line-through;
  }

  &-underline {
    text-decoration: underline;
  }

  &-bold {
    font-weight: bold;
  }
}

.pointers-none {
  pointer-events: none;
}

.pointers-all {
  pointer-events: all;
}

.absolute {
  position: absolute;

  &.full-fill {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.relative {
  position: relative;
}

@for $i from 0 through 9 {
  .fade-0#{$i} {
    opacity: $i / 10;
  }
}

@for $i from 1 through 8 {
  .background-- {
    &#{$i} {
      background-color: var(--color--#{$i});
    }
  }

  .border-- {
    &#{$i} {
      border: solid 1px var(--color--#{$i});
    }
  }
}

.height-30vh {
  height: 30vh;

  &-strong {
    height: 30vh;
    min-height: 30vh;
    max-height: 30vh;
  }
}

@mixin strong-height($count) {
  .strong-height-#{$count} {
    height: $count;
    min-height: $count;
    max-height: $count;
  }
}

@mixin strong-width($count) {
  .strong-width-#{$count} {
    width: $count;
    min-width: $count;
    max-width: $count;
  }
}

@mixin strong-square($count) {
  .strong-square-#{$count} {
    width: $count;
    min-width: $count;
    max-width: $count;
    height: $count;
    min-height: $count;
    max-height: $count;
  }
}

@for $i from 0 through 200 {
  $value: $i * 5;

  [class~='z-index:#{$value}'] {
    z-index: $value;
  }
}

@for $i from 1 through 9 {
  @include strong-height(#{$i * 10}vmin);
  @include strong-height(#{$i * 10}vmax);

  @include strong-width(#{$i * 10}vmin);
  @include strong-width(#{$i * 10}vmax);

  @include strong-square(#{$i * 10}vmax);
  @include strong-square(#{$i * 10}vmin);
}

.min-height-30vh {
  min-height: 30vh;
}

.margin-auto {
  margin: auto;
}

.absolute,
.relative {
  &.pos- {
    &bottom {
      bottom: 0;

      &-over {
        bottom: -100%;
      }
    }

    &top {
      top: 0;
    }

    &left {
      left: 0;
    }

    &right {
      right: 0;
    }
  }
}

.float- {
  &left {
    float: left;
  }

  &right {
    float: right;
  }
}

.non-overscroll {
  overscroll-behavior: none;
}

.pointer,
.pointer-children>* {
  cursor: pointer;
}

.text-height-block {
  height: 1.3em;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inactive {
  opacity: 0.7;
}

[class~="font-size:0.7em"] {
  font-size: .7em;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-resize {
  resize: none;
}

:not(.user-select) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-select {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.for-print {
  &.canvas {
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.print-as-a4 {
    height: 29.7cm;
    page-break-inside: avoid;
  }

  &.break-inside-avoid {
    page-break-inside: avoid;
  }
}

@font-face {
  font-family: main;
  src: url(./resource/avenir-next.ttf);
}

a {
  color: var(--text-color);
}

.text- {
  &center {
    text-align: center;
  }

  &right {
    text-align: right;
  }

  &italic {
    font-style: italic;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  --autofill-background-color: var(--color--2);
  --autofill-color: var(--text-color);

  box-shadow: 0 0 0 30px var(--autofill-background-color) inset !important;
  -webkit-text-fill-color: var(--autofill-color);
  font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.rotate {
  animation: rotate 1s linear infinite;

  &-90 {
    transform: rotate(90deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}