.composition-block {
  position: relative;
  margin-top: 1em;
  padding-left: 1em;
  white-space: nowrap;
  text-wrap: balance;
  word-wrap: normal;

  > .header {
    margin-right: 1em;
  }
}

.styled-header {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-decoration: underline;

  &.enter,
  &.trans {
    margin-left: 0.5em;
  }

  &.p-two {
    font-style: italic;
  }

  &.anchor {
    margin: 10px 10px 10px 0;
    color: grey;
  }
}

.styled-block {
  &.chords-block {
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    white-space: pre-line;
  }

  &.chorded-block {
    .composition-line {
      line-height: 2.3em;
    }

    + .inherit.without-chords {
      margin-top: -0.4em;
    }
  }

  &.without-chords {
    .composition-line {
      line-height: 1.5em;
    }

    + .inherit.chorded-block {
      margin-top: 0.4em;
    }
  }

  &.enter,
  &.p-two,
  &.two,
  &.thirdo {
    margin-left: 0.5em;
  }

  &._one,
  &._shift,
  &._plus_plus_shift,
  &.final {
    margin-left: 1em;
  }

  &.bridge {
    margin-left: 1.5em;
  }

  &.p-two,
  &.bridge,
  &.final {
    font-style: italic;
  }

  &.two,
  &.thirdo,
  &.final,
  &.bridge {
    font-weight: bold;
  }

  &._plus,
  &._shift {
    margin-top: 0;
  }
}
