.application-container {
  --com-player-size: 30px;
  --com-player-height: var(--com-player-size);
  --com-player-expand-height: calc(var(--com-player-size) * 2);
}

@keyframes rotate-loading-logo {
  from {
    transform: scale(0.2) rotate(0);
  }

  to {
    transform: scale(0.2) rotate(360deg);
  }
}
