.eva-icon {
    --icon-size: 24px;
    --icon-scale: 1;

    width: var(--icon-size);
    min-width: var(--icon-size);
    max-width: var(--icon-size);
    height: var(--icon-size);
    min-height: var(--icon-size);
    max-height: var(--icon-size);
    transform: scale(var(--icon-scale));
}

.icon-scale- {
    &05 {
        --icon-scale: .5;
    }
}