.eva-icon {
    --size: 24px;
    --icon-scale: 1;

    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);
    min-height: var(--size);
    max-height: var(--size);
    transform: scale(var(--icon-scale));
}