.brutal-item {
    --brutal-item-height: 60px;
    --brutal-item-gap-v: 7px;

    border-radius: 10px;
    background-color: var(--color--2);
    width: 100%;
    height: var(--brutal-item-height);
    cursor: pointer;
    margin-top: var(--brutal-item-gap-v);
}