.show-word-area {
    --ring-size: 50vmin;

    position: relative;
    height: calc(var(--ring-size) * 1.3);
    overflow-y: scroll;
    padding: 30px 0;

    .timeout-timer-screen {
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        font-weight: bold;
        text-align: center;
    }
    
    .round-button {
        cursor: pointer;
    }

    &.speech {
        .round-button {
            background: var(--color--2);
            color: var(--color--3);
            padding: 0 20vmin;
            cursor: initial;
        }

        .ok-button,
        .ko-button {
            opacity: 1;
            pointer-events: all;
        }
    }

    .loader-icon {
        --icon-size: 50px;
    }

    .ok-button,
    .ko-button {
        --icon-scale: 4;
        --pos: 40px;

        position: absolute;
        bottom: var(--pos);
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;

        @media screen and (max-width: 350px) {
            --icon-scale: 3;
            --pos: 30px;
        }
    }

    .ko-button {
        left: var(--pos);
    }

    .ok-button {
        right: var(--pos);
    }

    .round-button {
        width: var(--ring-size);
        max-width: var(--ring-size);
        min-width: var(--ring-size);
        height: var(--ring-size);
        max-height: var(--ring-size);
        min-height: var(--ring-size);

        background: var(--color--7);
        color: var(--color--1);
        border-radius: var(--ring-size);
        transition: background .5s;
    }
}

.my-score-screen {
    position: absolute;
    bottom: -1em;
    left: 0;
    right: 0;
    text-align: center;
}
