body {
  --font-family: -apple-system, montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', main,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-gap: 8px;
  --main-big-gap: 18px;
  --header-height: 10px;
  --header-container-height: 60px;
  --footer-height: 70px;
  --fullscreen-transition: top .3s, bottom .3s, height .3s, margin-top .3s;

  --header-container-margin-top: 0;
  --header-top: 0;
  --header-container-top: var(--header-height);
  --footer-bottom: 0;

  --color--1: #242a26;
  --color--2: #3b4b40;
  --color--3: #d5e6d6;
  --color--4: #b2b9b1;
  --color--5: #1a1c19;
  --color--6: #d3e5d7;
  --color--7: #b5f2c8;
  --color--8: var(--color--5);

  &.light-theme {
    --color--1: #eaf1e9;
    --color--2: #d5e8d5;
    --color--3: #122217;
    --color--4: #414840;
    --color--5: #fbfdf8;
    --color--6: #f8fbf4;
    --color--7: #336a4a;
    --color--8: #fbfdf8;
  }
}

body {
  --svg-color: var(--color--4);

  background-color: var(--color--5);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:not(svg) {
  box-sizing: border-box;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input {
  font-size: 1em;
  font-family: var(--font-family);
}

.flex {
  display: flex;

  &:not(.custom-align-items) {
    align-items: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }
}

.non-overscroll {
  overscroll-behavior: none;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.inactive {
  opacity: .7;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:not(.user-select) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: main;
  src: url(./resource/avenir-next.ttf);
}

#root {
  .main-gap-v {
    margin-left: var(--main-gap);
    margin-right: var(--main-gap);
  }

  .main-gap-h {
    margin-top: var(--main-gap);
    margin-bottom: var(--main-gap);
  }

  .main-gap {
    margin: var(--main-gap);
  }

  .main-big-gap-v {
    margin-left: var(--main-big-gap);
    margin-right: var(--main-big-gap);
  }

  .main-big-gap-h {
    margin-top: var(--main-big-gap);
    margin-bottom: var(--main-big-gap);
  }

  .main-big-gap {
    margin: var(--main-big-gap);
  }
}