body {
  --font-family: -apple-system, montserrat, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', main,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color--1: #242a26;
  --color--2: #3b4b40;
  --color--3: #d5e6d6;
  --color--4: #b2b9b1;
  --color--5: #1a1c19;
  --color--6: #d3e5d7;
  --color--7: #b5f2c8;
  --color--8: var(--color--5);
  --color--ko: #ec6969;

  &.light-theme {
    --color--1: #eaf1e9;
    --color--2: #d5e8d5;
    --color--3: #122217;
    --color--4: #414840;
    --color--5: #fbfdf8;
    --color--6: #f8fbf4;
    --color--7: #336a4a;
    --color--8: #fbfdf8;
  }

  #root {
    height: 100%;
    overflow: hidden;
  }
}

body {
  --svg-color: var(--color--4);
  --text-color: var(--color--4);
  --current-bg: var(--color--5);

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;

  background-color: var(--current-bg);
  font-family: var(--font-family);
  color: var(--text-color);
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: none;
}

.error-message {
  color: var(--color--ko);
}

input[type='radio'] {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.disabled,
:disabled {
  opacity: .5;
  pointer-events: none;
}

:not(svg) {
  box-sizing: border-box;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.input,
input,
textarea {
  font-size: 1em;
  font-family: var(--font-family);
  background-color: var(--color--2);
  color: var(--text-color);

  &::placeholder {
    color: var(--color--5);
  }
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-min-width {
  min-width: 100%;
}

.full-min-height {
  min-height: 100%;
}

.half-height {
  height: 50%;
}

.bg-inherit {
  background: inherit;
}

.flex {
  display: flex;

  &:not(.custom-align-items) {
    align-items: center;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

  &.center {
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }

  &.start {
    justify-content: start;
  }
}

.after-margin-space {
  margin-right: .2em;
}

.text-middle {
  >* {
    display: inline-block;
    vertical-align: middle;
  }
}

.pointers-none {
  pointer-events: none;
}

.pointers-all {
  pointer-events: all;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fade-05 {
  opacity: 0.5;
}

.absolute,
.relative {
  &.float-bottom {
    bottom: 0;
  }

  &.float-top {
    top: 0;
  }

  &.float-left {
    left: 0;
  }

  &.float-right {
    right: 0;
  }
}

.non-overscroll {
  overscroll-behavior: none;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inactive {
  opacity: .7;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-resize {
  resize: none;
}

:not(.user-select) {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: main;
  src: url(./resource/avenir-next.ttf);
}

a {
  color: var(--text-color);
}

.text-center {
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  --autofill-background-color: var(--color--2);
  --autofill-color: var(--text-color);

  box-shadow: 0 0 0 30px var(--autofill-background-color) inset !important;
  -webkit-text-fill-color: var(--autofill-color);
  font-size: 1em;
}