.chord-redactor-content {
  --simple-border: solid 1px var(--color--3);

  display: grid;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 410px) {
    grid-template-rows: 5fr 3em 5fr;
    grid-template-areas: 'old' 'list' 'new';

    .chord-list {
      border-bottom: var(--simple-border);
      padding-right: 26px;
      overflow: hidden;

      .chords-scroll {
        display: flex;
        overflow-x: scroll;

        > * {
          display: flex;
        }
      }

      .add-chord-button {
        height: 100%;
      }

      .chord-base-title {
        left: 0;
        width: 1.2em;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 411px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 7fr;
    grid-template-areas: 'list old' 'list new';

    .chord-list {
      border-right: var(--simple-border);
      padding-bottom: 26px;

      .chords-scroll {
        overflow-y: scroll;
      }

      .add-chord-button {
        width: 100%;
      }
    }
  }

  &.chord-addition {
    .chord-list {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .chord-board {
    .chord-point {
      &:not(.shadow) {
        pointer-events: none;
      }

      &.shadow {
        stroke: grey;
      }

      &.problem {
        stroke-width: 18px;
        stroke: var(--color--ko);
      }
    }
  }

  .chord-base-title {
    background: var(--color--2);
  }

  .chord-bare-adder {
    fill: var(--color--1);
    stroke: var(--color--1);

    &.fill {
      fill: var(--color--7);
      stroke: var(--color--7);
    }
  }

  .mute-string-indicator {
    font-size: 15px;

    &:not(.button) {
      pointer-events: none;
    }

    &.button {
      stroke: var(--color--ko);
      opacity: 0.7;
    }
  }

  .chord-list {
    position: relative;
    grid-area: list;

    .chords-scroll {
      width: 100%;
      height: 100%;
    }

    .add-chord-button {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  .old-chord {
    grid-area: old;
    border-bottom: var(--simple-border);
  }

  .new-chord {
    grid-area: new;
  }
}
