.load-indicated-content-container {

    &.ending-process,
    &.loading-process {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &.loading-process {
        >:not(.load-indicated-content-spinner-container) {
            display: none;
        }

        >.load-indicated-content-spinner-container {
            .load-indicated-content-spinner {
                animation: fade-in .3s, rotate 1.5s infinite linear;
            }
        }
    }

    &.ending-process {
        --animation-time: 1.5s;

        >.load-indicated-content-spinner-container {
            animation: fade-out 1s;
            animation-delay: var(--animation-time);
        }

        .reye-part {
            animation: rringify var(--animation-time) forwards;
        }

        .leye-part {
            animation: lringify var(--animation-time) forwards;
        }
    }

    &.content-is-ready {
        >.load-indicated-content-spinner-container {
            display: none;
        }
    }

    >.load-indicated-content-spinner-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .load-indicated-content-spinner {
            --load-indicated-content-spinner-size: 100px;
            --load-indicated-content-spinner-dot-size: calc(var(--load-indicated-content-spinner-size) / 7);
            --load-indicated-content-spinner-color: var(--text-color);

            position: absolute;
            width: var(--load-indicated-content-spinner-size);
            height: var(--load-indicated-content-spinner-size);
            animation: fade-in .3s;

            >.load-indicated-content-spinner-part {
                position: absolute;

                &-dot {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: var(--load-indicated-content-spinner-color);
                }

                border-radius: 100%;

                &.dot-part {
                    width: var(--load-indicated-content-spinner-dot-size);
                    height: var(--load-indicated-content-spinner-dot-size);
                    background-color: var(--load-indicated-content-spinner-color);
                }

                &.lip-part {
                    --size: 100%;
                    top: 0;
                    left: 0;
                    width: var(--size);
                    height: var(--size);
                    border-top: none;
                    border: var(--load-indicated-content-spinner-dot-size) solid;
                    transform: rotate(-15deg);
                    border-color: transparent var(--load-indicated-content-spinner-color) var(--load-indicated-content-spinner-color) transparent;

                    &.second {
                        transform: rotate(-26deg);
                    }
                }

                &.top-part {
                    top: 3.4%;
                    left: 57%;
                }

                &.bot-part {
                    top: 80.8%;
                    left: 21%;
                }

                &.point-part {
                    top: 1%;
                    left: 35%;
                }

                &.leye-part {
                    --leye-top: 54%;
                    --leye-left: 32%;
                    --leye-ringify-top: 24%;
                    --leye-ringify-left: 3%;
                    top: var(--leye-ringify-top);
                    left: var(--leye-ringify-left);
                }

                &.reye-part {
                    --reye-top: 31%;
                    --reye-left: 42%;
                    --reye-ringify-top: 64%;
                    --reye-ringify-left: 4%;
                    top: var(--reye-ringify-top);
                    left: var(--reye-ringify-left);
                }
            }
        }
    }
}

@keyframes lringify {
    from {
        top: var(--leye-ringify-top);
        left: var(--leye-ringify-left);
    }

    30% {
        top: var(--leye-ringify-top);
        left: var(--leye-ringify-left);
    }

    60% {
        top: var(--leye-top);
        left: var(--leye-left);
    }

    to {
        top: var(--leye-top);
        left: var(--leye-left);
    }
}

@keyframes rringify {
    from {
        top: var(--reye-ringify-top);
        left: var(--reye-ringify-left);
    }

    30% {
        top: var(--reye-ringify-top);
        left: var(--reye-ringify-left);
    }

    60% {
        top: var(--reye-top);
        left: var(--reye-left);
    }

    to {
        top: var(--reye-top);
        left: var(--reye-left);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}