.load-indicated-content-container {
    --load-indicated-content-spinner-size: 100px;
    --load-indicated-content-spinner-dot-size: calc(var(--load-indicated-content-spinner-size) / 7);
    --load-indicated-content-spinner-color: var(--text-color);

    &.initial-state {
        >.load-indicated-content-spinner-container {
            >.load-indicated-content-spinner {
                >.smile-container {
                    display: none;
                }
            }
        }
    }

    &.content-is-ready,
    &.ending-process,
    &.loading-process {
        height: 100%;
        width: 100%;

        >.load-indicated-content-spinner-container {
            >.load-indicated-content-spinner {

                &::before,
                &::after {
                    content: '';
                }
            }
        }
    }

    &.content-is-ready,
    &.loading-process {
        >:not(.load-indicated-content-spinner-container) {
            display: none;
        }

        >.load-indicated-content-spinner-container {
            >.load-indicated-content-spinner {
                animation: fade-in .3s, rotate .7s infinite linear;
            }
        }
    }

    &.ending-process {
        --animation-time: .8s;

        >.load-indicated-content-spinner-container {
            animation: fade-out var(--animation-time);
            animation-delay: var(--animation-time);

            >.load-indicated-content-spinner {
                &::after {
                    animation: rringify var(--animation-time) forwards;
                }

                &::before {
                    animation: lringify var(--animation-time) forwards;
                }
            }
        }
    }


    &.content-loaded {
        >.load-indicated-content-spinner-container {
            display: none;
        }
    }

    >.load-indicated-content-spinner-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        >.load-indicated-content-spinner {
            position: absolute;
            width: var(--load-indicated-content-spinner-size);
            height: var(--load-indicated-content-spinner-size);
            animation: fade-in .3s;

            &::before,
            &::after {
                position: absolute;
                display: block;
                background-color: var(--load-indicated-content-spinner-color);
                width: var(--load-indicated-content-spinner-dot-size);
                height: var(--load-indicated-content-spinner-dot-size);
                border-radius: 100%;
            }

            &::before {
                --leye-top: 54%;
                --leye-left: 32%;
                --leye-ringify-top: 24%;
                --leye-ringify-left: 3%;

                top: var(--leye-ringify-top);
                left: var(--leye-ringify-left);
            }

            &::after {
                --reye-top: 31%;
                --reye-left: 42%;
                --reye-ringify-top: 64%;
                --reye-ringify-left: 4%;

                top: var(--reye-ringify-top);
                left: var(--reye-ringify-left);
            }

            >.smile-container {
                position: absolute;
                left: 21%;
                display: block;
                height: 101%;

                >.smile-line {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: none;
                    stroke: var(--text-color);
                    stroke-width: 54;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                }

                >.smile-dot {
                    fill: var(--text-color);
                }
            }
        }
    }
}

@keyframes lringify {
    from {
        top: var(--leye-ringify-top);
        left: var(--leye-ringify-left);
    }

    30% {
        top: var(--leye-ringify-top);
        left: var(--leye-ringify-left);
    }

    70% {
        top: var(--leye-top);
        left: var(--leye-left);
    }

    to {
        top: var(--leye-top);
        left: var(--leye-left);
    }
}

@keyframes rringify {
    from {
        top: var(--reye-ringify-top);
        left: var(--reye-ringify-left);
    }

    30% {
        top: var(--reye-ringify-top);
        left: var(--reye-ringify-left);
    }

    70% {
        top: var(--reye-top);
        left: var(--reye-left);
    }

    to {
        top: var(--reye-top);
        left: var(--reye-left);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}